<div class="container my-5">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" id="back">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h1
              routerLink="/"
              class="text-uppercase mb-4 font-weight-bold"
              style="cursor: pointer"
            >
              <span class="text-span-8 text-black" style="font-weight: bold"
                >I<span class="s">S</span>TICHARA</span
              >
            </h1>
            <p class="text-black">
              la plateforme de consultation en ligne qui simplifie la mise en
              relation entre consultants et clients, quels que soient leurs
              domaines d'expertise.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h3 class="text-uppercase mb-4 font-weight-bold text-black">
              Menu
            </h3>
            <p>
              <a
                routerLink="/utilisateur/domaine-utilisateur"
                class="text-black"
                id="menu"
                style="cursor: pointer"
                >Domaines</a
              >
            </p>
            <p>
              <a
                routerLink="/utilisateur/recherche-utilisateur"
                class="text-black"
                id="menu"
                style="cursor: pointer"
                >Recherche</a
              >
            </p>
            <p>
              <a
                routerLink="/utilisateur/contact-utilisateur"
                class="text-black"
                id="menu"
                style="cursor: pointer"
                >Contact</a
              >
            </p>
            <p>
              <a
                routerLink="/utilisateur/apropos-utilisateur"
                class="text-black"
                id="menu"
                style="cursor: pointer"
              >
                A propos</a
              >
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 class="text-uppercase mb-4 font-weight-bold text-black">
              Contact
            </h3>
            <p class="text-muted">
              <i class="fa fa-envelope mr-3"></i> istichara66@gmail.com
            </p>
            <p class="text-muted">
              <i class="fa fa-phone mr-3"></i> +212 746736373
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h3 class="text-uppercase mb-4 font-weight-bold text-black">
              Notre Reseaux
            </h3>

            <!-- Github -->
            <a role="button">
              <img
                src="../../../assets/images/git-logo.png"
                alt=""
                style="width: 32px; height: 32px"
              />
            </a>
            <!-- Facebook -->
            <a role="button">
              <img
                src="../../../assets/images/facebook-logo.png"
                alt=""
                style="width: 50px; height: 49px"
              />
            </a>

            <!-- insta -->
            <a role="button">
              <img
                src="../../../assets/images/instagram-logo.png"
                alt=""
                style="width: 30px; height: 30px"
              />
            </a>
            <!-- Linkedin -->
            <a role="button">
              <img
                src="../../../assets/images/linkedin-logo.png"
                alt=""
                style="width: 40px; height: 40px"
              />
            </a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(84, 54, 255, 0.098); color: black"
    >
      © 2024 Copyright by ISTICHARA ,
      <a
        (click)="ouvrirNouvelOnglet()"
        style="cursor: pointer; color: rgb(110, 43, 226)"
      >
        <B>termes & condition générales</B></a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
