<div class="kutup-footer-1">
    <div class="kutup-medium-container">
      <div class="kutup-footer-flex">
        <a routerLink="/" class="w-inline-block">
          <div class="text-block-7">
            <span class="text-span-8">I</span
            ><span class="text-span-9">S</span
            ><span class="text-span-8">TICHARA</span><br />
          </div>
        </a>
        <div class="kutup-footer-horizontal-flex">
          <a routerLink="/utilisateur/domaine-utilisateur" class="kutup-footer-link">Domaines</a>
          <a routerLink="/utilisateur/recherche-utilisateur" class="kutup-footer-link">Recherche</a>
          <a routerLink="/utilisateur/contact-utilisateur" class="kutup-footer-link">Contact</a>
          <a routerLink="/utilisateur/apropos-utilisateur" class="kutup-footer-link">A propos</a>
        </div>
        <div>
          <div class="kutup-social-wrapper-flex">
          <a href="#" class="kutup-social-link w-inline-block"><img src="../../../assets/images/twitter.svg" loading="lazy" width="20" alt=""></a>
          <a href="#" class="kutup-social-link w-inline-block"><img src="../../../assets/images/dribbble.svg" loading="lazy" width="20" alt=""></a>
          <a href="#" class="kutup-social-link w-inline-block"><img src="../../../assets/images/github.svg" loading="lazy" width="20" alt=""></a>
          <a href="#" class="kutup-social-link w-inline-block"><img src="../../../assets/images/instagram.svg" loading="lazy" width="20" alt=""></a>
          </div>
        </div>
      </div>
      <div class="kutup-divider-60px"></div>
      <div class="kutup-copyright-center-text">
        <p class="kutup-copyright">
           © 2024 Copyright by ISTICHARA ,
            <a (click)="ouvrirNouvelOnglet()" style="cursor: pointer;">
              <span class="text-span-10"> termes &amp; condition générales</span>
            </a>
        </p>
      </div>
    </div>
  </div>
  