
#back{
  background-color: rgba(152, 228, 251, 0.202);
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
  
     color: rgb(43, 86, 226);
  }
  
  .s{
  color: rgb(255, 136, 0);
  }


  footer{
    margin-right: -6.6%;
    margin-bottom: -10%;
    margin-left: -6.5%;
  }
