<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
<app-menu-utilisateur></app-menu-utilisateur>
<!-- <div class="kutup-section">
    <div class="kutup-large-container">
      <div class="kutup-max-w-width-640px">
        <div class="kutup-small-top-text">Bienvenue ! </div>
        <h2 class="kutup-display-3">Veuillez Saisir Vos Coordonnés</h2>
      </div>
      <div class="kutup-divider-40px"></div>
      <div>
        <div class="kutup-request-form w-form">

          <div id="sidentifer"  class="kutup-form-grid">
              <input class="kutup-field w-input" maxlength="256" name="email"  placeholder="Email" type="text" [(ngModel)]="consultantAuth.email" >
              <input class="kutup-field w-input" maxlength="256" name="password"  placeholder="Mot de passe" type="password" [(ngModel)]="consultantAuth.motDePasse">
              <input type="submit"  class="kutup-button-green w-button" value="S&#x27;identifier" (click)="auth()">
              <div  class="text-block-4">Vous n&#x27;avez pas du compte , Veuillez <a routerLink="/consultant/sinscrire-consultant">s&#x27;inscrire ici</a>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->

  <div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">

                <!-------------      image     ------------->


            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                   <header>Se connecter</header>
                   <div class="input-field">
                        <input type="text" class="input" id="email" required="" autocomplete="off" name="email" [(ngModel)]="consultantAuth.email">
                        <label for="email">Email</label>
                    </div>
                   <div class="input-field">
                        <input type="password" class="input" id="pass" required=""  name="password" [(ngModel)]="consultantAuth.motDePasse">
                        <label for="pass">Mot de passe</label>
                    </div>
                   <div class="input-field">

                        <input type="submit" class="submit" value="S'identifier" (click)="auth()">
                   </div>
                   <div class="signin">
                    <span>Vous n’avez pas de compte? <a routerLink="/consultant/sinscrire-consultant" id="Inscrivez-vous">Inscrivez-vous</a></span>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <app-bas-de-page></app-bas-de-page>
</body>
