
.a {
    text-decoration: none;
    color: rgb(220, 93, 38);
    cursor: pointer;
}

.valider:hover {
    background-color: #ff7707;

    color: white;
}

.valider {
    background-color: #fff1e860;
    border: 2px solid #ff7707;
    color: #ff7707;

    width: 60%;
    margin-left: 20%;

}

@media (max-width: 768px) {
    .input-group-inline .form-control {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .custom-bg {
        display: none;
    }
}

.custom-bg {
    height: 300px;
}

.input-group-inline {
    display: flex;
}

.input-group-inline .form-control {
    flex: 1;
    margin-right: 10px;
    /* Adjust as needed */
}

.input-group-inline .form-control:last-child {
    margin-right: 0;
}