<body>
  <div class="custom-bg">
    <img
      src="../../../assets/images/image-infos-utilisateur.jpg"
      style="width: 57%; margin-left: 24%; margin-top: -6%"
      alt=""
    />
  </div>

  <div class="container pt-5" style="margin-bottom: 40px">
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <div>
              <img
                src="../../../assets/images/image-infos-card1.jpg"
                style="width: 80%; margin-left: 10%"
                alt=""
              />
            </div>
            <div id="form">
              <div class="input-group-inline">
                <div style="width: 107%">
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    placeholder="Nom complet"
                    [(ngModel)]="
                      _serviceClientPaiement.infoClientPaiement.nomClient
                    "
                    (input)="nomVide = false"
                  />
                  <span *ngIf="nomVide" class="text-danger"
                    ><i class="fa fa-exclamation-circle"></i>Le champs est
                    obligatoire</span
                  >
                </div>
                <div style="margin-left: 5%; width: 107%">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email@example.com"
                    [(ngModel)]="
                      _serviceClientPaiement.infoClientPaiement.emailClient
                    "
                    (input)="emailVide = false"
                    (input)="validateEmail()"
                  />
                  <span *ngIf="emailVide" class="text-danger"
                    ><i class="fa fa-exclamation-circle"></i>Le champs est
                    obligatoire</span
                  >
                  <span *ngIf="emailInvalid" class="text-danger">
                    <i class="fa fa-exclamation-circle"></i> Veuillez saisir un
                    email valide
                  </span>
                </div>
              </div>

              <br />

              <div class="input-group-inline">
                <div class="form-group" style="width: 110%">
                  <select
                    class="form-select"
                    [(ngModel)]="
                      _serviceClientPaiement.infoClientPaiement.paysClient
                    "
                    (input)="paysVide = false"
                  >
                    <option disabled selected>Pays</option>
                    <option value="maroc">maroc</option>
                  </select>
                  <span *ngIf="paysVide" class="text-danger"
                    ><i class="fa fa-exclamation-circle"></i>Le champs est
                    obligatoire</span
                  >
                </div>

                <div class="form-group" style="width: 110%; margin-left: 5%">
                  <select
                    class="form-select"
                    [(ngModel)]="
                      _serviceClientPaiement.infoClientPaiement.villeClient
                    "
                    (input)="villeVide = false"
                  >
                    <option disabled selected>Ville</option>
                    <option *ngFor="let ville of villesMaroc" [value]="ville">
                      {{ ville }}
                    </option>
                  </select>
                  <span *ngIf="villeVide" class="text-danger"
                    ><i class="fa fa-exclamation-circle"></i>Le champs est
                    obligatoire</span
                  >
                </div>
              </div>

              <br />

              <div class="input-group-inline">
                <div style="width: 110%">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Code postale "
                    [(ngModel)]="
                      _serviceClientPaiement.infoClientPaiement
                        .codePostaleClient
                    "
                    (input)="codeVide = false"
                  />
                  <span *ngIf="codeVide" class="text-danger"
                    ><i class="fa fa-exclamation-circle"></i>Le champs est
                    obligatoire</span
                  >
                </div>
                <div style="width: 110%; margin-left: 5%">
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" Province "
                    [(ngModel)]="
                      _serviceClientPaiement.infoClientPaiement.provinceClient
                    "
                    (input)="provinceVide = false"
                  />
                  <span *ngIf="provinceVide" class="text-danger"
                    ><i class="fa fa-exclamation-circle"></i>Le champs est
                    obligatoire</span
                  >
                </div>
              </div>
              <br />
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="0606060606"
                  [(ngModel)]="
                    _serviceClientPaiement.infoClientPaiement.telephoneClient
                  "
                  (input)="telephoneVide = false"
                />
                <span *ngIf="telephoneVide" class="text-danger"
                  ><i class="fa fa-exclamation-circle"></i>Le champs est
                  obligatoire</span
                >
              </div>
              <br />
              <div class="form-group">
                <textarea
                  placeholder="Adresse"
                  class="form-control"
                  rows="3"
                  [(ngModel)]="
                    _serviceClientPaiement.infoClientPaiement.adresseClient
                  "
                  (input)="adresseVide = false"
                ></textarea>
                <span *ngIf="adresseVide" class="text-danger"
                  ><i class="fa fa-exclamation-circle"></i>Le champs est
                  obligatoire</span
                >
              </div>
              <br />
              <div class="form-group">
                <textarea
                  placeholder="Description"
                  class="form-control"
                  rows="3"
                  [(ngModel)]="
                    _serviceClientPaiement.infoClientPaiement.descriptionClient
                  "
                  (input)="descriptionVide = false"
                ></textarea>
                <span *ngIf="descriptionVide" class="text-danger"
                  ><i class="fa fa-exclamation-circle"></i>Le champs est
                  obligatoire</span
                >
              </div>
              <br />

              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="conditionsAccepted"
                />
                <label class="form-check-label"
                  >J'ai lu et accepté
                  <a class="a" (click)="ouvrirNouvelOnglet()">
                    Termes & Conditions
                  </a>
                  notamment la mention relative à la protection des données à
                  caractère personnel.</label
                >
              </div>

              <br /><br />
              <button
                type="submit"
                class="btn valider"
                (click)="validateInfos()"
              >
                Valider
              </button>
            </div>
            <!-- -->
          </div>
        </div>
      </div>
      <div class="col-md-6" style="margin-top:10px ;">
        <div
          class="card shadow"
          style="background-color: rgba(240, 248, 255, 0.845)"
        >
          <div class="card-body">
            <img
              src="../../../assets/images/image-infos-card2.jpg"
              style="width: 20%; border-radius: 50%"
              alt=""
            />
            <hr />
            <p class="card-text">
              Dès la validation de votre paiement le montant affiché est bloqué
              sur votre compte sons être débité, il n’est débité qu'une fois le
              PROFIL consulté accepte la requête . Dans le cas échéant vous
              serez remboursé . Dès que le profil accepte votre requête vous
              recevez par un email ; le lien de votre consultation, merci de
              vous présenter en boîte 10 minutes, on avance et attendez que le
              profil rejoindre la conversation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
