<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <app-menu-consultant-dashboard></app-menu-consultant-dashboard>

  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div id="sidebarecolor" class="side-bar">
            <div class="user-info">
              <img class="img-profile img-circle img-responsive center-block" [src]="
                  '../../../assets/images-consultants/' +
                  _service.consultantAuthObjet.photoProfile
                " alt />
              <ul class="meta list list-unstyled">
                <li class="name">
                  {{ _service.consultantAuthObjet.nom }}
                  {{ _service.consultantAuthObjet.prenom }}
                  <label class="label label-info">{{
                    _service.consultantAuthObjet.domaine.nomDomaine
                    }}</label>
                </li>
              </ul>
            </div>
            <nav class="side-menu">
              <ul class="nav">
                <li class="active" [class.active]="selectedTab === 'Profile'">
                  <a (click)="navigateProfile('Profile')"><span class="fa fa-user"></span> Profile</a>
                </li>
                <li [class.active]="selectedTab === 'Paiement'">
                  <a (click)="navigateProfile('Paiement')"><span class="fa fa-credit-card"></span> Paiement</a>
                </li>
                <li [class.active]="selectedTab === 'Détails'">
                  <a (click)="navigateProfile('Détails')"><span class="fa fa-clipboard"></span> Détails</a>
                </li>
                <li [class.active]="selectedTab === 'Carrière'">
                  <a (click)="navigateProfile('Carrière')"><span class="fa fa-book"></span> Carrière</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="content-panel" [class.in]="selectedTab === 'Profile'" [class.active]="selectedTab === 'Profile'"
            id="Profile" *ngIf="selectedTab === 'Profile'">
            <h2 class="title">Profile</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Informations Personnelle</h3>
                <div class="form-group avatar">
                  <figure class="figure col-md-2 col-sm-3 col-xs-12">
                    <img class="img-rounded img-responsive" [src]="
                        '../../../assets/images-consultants/' +
                        _service.consultantAuthObjet.photoProfile
                      " alt />
                  </figure>
                  <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    <input type="file"
                    id="choisirfichier"
                    (change)="onFileChange($event)"
                    accept="image/*" class="file-uploader pull-left" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nom</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.nom }}"
                      [(ngModel)]="_service.consultantAuthObjet.nom" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Prénom</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.prenom }}"
                      [(ngModel)]="_service.consultantAuthObjet.prenom" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">CIN</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.cin }}"
                      [(ngModel)]="_service.consultantAuthObjet.cin" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Pays</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.pays }}"
                      [(ngModel)]="_service.consultantAuthObjet.pays" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Ville</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.ville }}"
                      [(ngModel)]="_service.consultantAuthObjet.ville" />
                  </div>
                </div>
              </fieldset>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Informations Contact</h3>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Email</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="email" class="form-control" value="{{ _service.consultantAuthObjet.email }}"
                      [(ngModel)]="_service.consultantAuthObjet.email" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Mot de Passe</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="password" class="form-control" value="{{ _service.consultantAuthObjet.motDePasse }}"
                      [(ngModel)]="_service.consultantAuthObjet.motDePasse" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Téléphone</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.numeroTelephone }}"
                      [(ngModel)]="_service.consultantAuthObjet.numeroTelephone" />
                  </div>
                </div>
              </fieldset>
              <hr />
              <div class="form-group">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                  <input class="btn btn-primary" type="submit" value="Editer le Profile" (click)="edite()" />
                </div>
              </div>
            </div>
          </div>
          <div class="content-panel" [class.in]="selectedTab === 'Paiement'" [class.active]="selectedTab === 'Paiement'"
            id="Paiement" *ngIf="selectedTab === 'Paiement'">
            <h2 class="title">Paiement</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Informations sur Carte</h3>

                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Adresse</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.adresse }}"
                      [(ngModel)]="_service.consultantAuthObjet.adresse" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">RIB</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.rib }}"
                      [(ngModel)]="_service.consultantAuthObjet.rib" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Banque</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" value="{{ _service.consultantAuthObjet.banque }}"
                      [(ngModel)]="_service.consultantAuthObjet.banque" />
                  </div>
                </div>
              </fieldset>

              <hr />
              <div class="form-group">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                  <input class="btn btn-primary" type="submit" value="Editer Paiement" (click)="edite()" />
                </div>
              </div>
            </div>
          </div>
          <div class="content-panel" [class.in]="selectedTab === 'Détails'" [class.active]="selectedTab === 'Détails'"
            id="Détails" *ngIf="selectedTab === 'Détails'">
            <h2 class="title">Détails</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Description du Profil</h3>

                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Description</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <textarea type="text" class="form-control" value="{{
                        _service.consultantAuthObjet.descriptionProfile}}"
                      [(ngModel)]="_service.consultantAuthObjet.descriptionProfile"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label">Langue</label>
                  <div id="language-group" class="col-md-10 col-sm-9 col-xs-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="francais" [(ngModel)]="_service.consultantAuthObjet.francais" />
                        Français
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="anglais" [(ngModel)]="_service.consultantAuthObjet.anglais" />
                        Anglais
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="espagnol" [(ngModel)]="_service.consultantAuthObjet.espagnol" />
                        Espagnol
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="Arabe" [(ngModel)]="_service.consultantAuthObjet.arabe" /> Arabe
                      </label>
                    </div>
                    <!-- Ajoutez d'autres langues selon vos besoins -->
                  </div>
                </div>
              </fieldset>

              <hr />
              <div class="form-group">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                  <input class="btn btn-primary" type="submit" value="Editer les Détails" (click)="edite()" />
                </div>
              </div>
            </div>
          </div>
          <div class="content-panel" [class.in]="selectedTab === 'Carrière'" [class.active]="selectedTab === 'Carrière'"
            id="Carrière" *ngIf="selectedTab === 'Carrière'">
            <h2 class="title">Carrière</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Expériences Professionnelle</h3>
                <div class="form-group">
                  <div class="col-md-12 col-sm-9 col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="experience" />
                      <button id="plus" type="button" (click)="addExperience()" class="btn btn-success-outline">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>

                    <div class="table-responsive">
                      <table class="table  table-striped">
                        <thead>
                          <tr>
                            <th>Expériences</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let exp of _service.consultantAuthObjet.experiencesPro ; let i = index;">
                            <td>{{exp}}</td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="td-actions text-right">
                              <button type="button" class="btn btn-danger btn-just-icon btn-sm"
                                (click)="supprimerExperiencePro(i)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Educations</h3>
                <div class="form-group">
                  <div class="col-md-12 col-sm-9 col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="education" />
                      <button id="plus" type="button" (click)="addEducation()" class="btn btn-success-outline">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                    <div class="table-responsive">
                      <table class="table  table-striped">
                        <thead>
                          <tr>
                            <th>Educations</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ed of _service.consultantAuthObjet.educations ; let i = index;">
                            <td>{{ed}}</td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="td-actions text-right">
                              <button type="button" class="btn btn-danger btn-just-icon btn-sm"
                                (click)="supprimerEducation(i)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fieldset">
                <h3 class="fieldset-title">Formations</h3>
                <div class="form-group">
                  <div class="col-md-12 col-sm-9 col-xs-12">
                    <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]="formation" />
                      <button id="plus" type="button" (click)="addFormation()" class="btn btn-success-outline">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                    <div class="table-responsive">
                      <table class="table  table-striped">
                        <thead>
                          <tr>
                            <th>Formations</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let for of _service.consultantAuthObjet.formations ; let i = index;">
                            <td>{{for}}</td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="td-actions text-right">
                              <button type="button" class="btn btn-danger btn-just-icon btn-sm"
                                (click)="supprimerFormation(i)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
              <hr />
              <div class="form-group">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                  <input class="btn btn-primary" type="submit" value="Editer Carrière" (click)="edite()" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
