<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-transparent">
    <!--fixed-top-->
    <div class="container12">
      <a
        routerLink="/"
        class="navbar-brand purple"
        style="
          font-size: 170%;
          font-weight: bold;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
        >I<span class="istichara">S</span>TICHARA</a
      >
      <button
        class="navbar-toggler shadow-none border-0"
        type="button"
        data-bs-theme="white"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--sidebar-->

      <div
        class="sidebar offcanvas offcanvas-start text-white"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <!--Header-->

        <div class="offcanvas-header text-dark">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button
            type="button"
            class="btn-close btn-close-white shadow-none"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <!--body -->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item mx-2">
              <a
                class="nav-link"
                aria-current="page"
                routerLink="/consultant/profil-consultant-dashoard"
              >
                Profile
              </a>
            </li>
            <li class="nav-item mx-2">
              <a
                class="nav-link"
                aria-current="page"
                routerLink="/consultant/consultations-consultant-dashboard"
                >Consultaion</a
              >
            </li>
            <li class="nav-item mx-2">
              <a
                class="nav-link"
                routerLink="/consultant/rendezvous-consultant-dashboard"
                >Rendez Vous</a
              >
            </li>
            <li class="nav-item mx-2">
              <a
                class="nav-link"
                routerLink="/consultant/help-consultant-dashboard"
                >Help</a
              >
            </li>
          </ul>
          <!-- contacter nous et User Icon button -->
          <div>
            <button
              type="button"
              class="btn rounded-5 btnchat"
              routerLink="/consultant/contact-consultant-dashboard"
              style="margin-right: 4px"
            >
              <i class="fa fa-comment" style="color: white"></i>
            </button>
            <button
              type="button"
              class="btn rounded-5 btnuser"
              routerLink="/utilisateur"
            >
              <i class="fa fa-arrow-right" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" style="padding-bottom: 10px">
    <div
      class="view-account"
      style="border-radius: 50px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)"
    >
      <section class="module">
        <div class="module-inner">
          <div id="sidebarecolor" class="side-bar">
            <div class="user-info">
              <img
                class="img-profile img-circle img-responsive center-block"
                [src]="
                  '../../../assets/images-consultants/' +
                  _service.consultantAuthObjet.photoProfile
                "
                alt
              />
              <ul class="meta list list-unstyled">
                <li class="name">
                  {{ _service.consultantAuthObjet.nom }}
                  {{ _service.consultantAuthObjet.prenom }}
                  <label
                    class="label label-info"
                    style="background-color: rgb(108, 91, 231)"
                    >{{
                      _service.consultantAuthObjet.domaine.nomDomaine
                    }}</label
                  >
                </li>
              </ul>
            </div>
            <nav class="side-menu">
              <ul class="nav">
                <li class="active" [class.active]="selectedTab === 'Profile'">
                  <a (click)="navigateProfile('Profile')"
                    ><span class="fa fa-user"></span> Profile</a
                  >
                </li>
                <li [class.active]="selectedTab === 'Paiement'">
                  <a (click)="navigateProfile('Paiement')"
                    ><span class="fa fa-credit-card"></span> Paiement</a
                  >
                </li>
                <li [class.active]="selectedTab === 'Détails'">
                  <a (click)="navigateProfile('Détails')"
                    ><span class="fa fa-clipboard"></span> Détails</a
                  >
                </li>
                <li [class.active]="selectedTab === 'Carrière'">
                  <a (click)="navigateProfile('Carrière')"
                    ><span class="fa fa-book"></span> Carrière</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <div
            class="content-panel"
            [class.in]="selectedTab === 'Profile'"
            [class.active]="selectedTab === 'Profile'"
            id="Profile"
            *ngIf="selectedTab === 'Profile'"
          >
            <h2 class="title">Profile</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Informations Personnelle</h3>
                <div class="form-group avatar">
                  <figure class="figure col-md-2 col-sm-3 col-xs-12">
                    <img
                      class="img-rounded img-responsive"
                      [src]="
                        '../../../assets/images-consultants/' +
                        _service.consultantAuthObjet.photoProfile
                      "
                      alt
                    />
                  </figure>
                  <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="file"
                      id="choisirfichier"
                      (change)="onFileChange($event)"
                      accept="image/*"
                      class="file-uploader pull-left"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Nom</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.nom }}"
                      [(ngModel)]="_service.consultantAuthObjet.nom"
                      (input)="validateNom()"
                      (input)="NomValid = false"
                    />

                    <span *ngIf="NomValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>
                    <span *ngIf="nomInvalid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i> veuillez saisir
                      un nom Valide</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Prénom</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.prenom }}"
                      [(ngModel)]="_service.consultantAuthObjet.prenom"
                      (input)="validatePrenom()"
                      (input)="PrenomValid = false"
                    />
                    <span *ngIf="PrenomValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>
                    <span *ngIf="prenomInvalid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i> veuillez saisir
                      un prenom Valide</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >CIN</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.cin }}"
                      [(ngModel)]="_service.consultantAuthObjet.cin"
                      (input)="validateCin()"
                      (input)="CinValid = false"
                    />
                    <span *ngIf="CinValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>
                    <span *ngIf="CinInvalid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i> veuillez saisir
                      un cin Valide</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Pays</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.pays }}"
                      [(ngModel)]="_service.consultantAuthObjet.pays"
                      (input)="validatePays()"
                      (input)="PaysValid = false"
                    />
                    <span *ngIf="PaysValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>
                    <span *ngIf="paysInvalid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i> veuillez saisir
                      un pays Valide</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Ville</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.ville }}"
                      [(ngModel)]="_service.consultantAuthObjet.ville"
                      (input)="validateVille()"
                      (input)="VilleValid = false"
                    />
                    <span *ngIf="VilleValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>
                    <span *ngIf="villeInvalid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i> veuillez saisir
                      un ville Valide</span
                    >
                  </div>
                </div>
              </fieldset>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Informations Contact</h3>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Email</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="email"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.email }}"
                      [(ngModel)]="_service.consultantAuthObjet.email"
                      (input)="validateEmail()"
                      (input)="EmailValid = false"
                      placeholder="Email@gmail.com"
                    />
                    <span *ngIf="EmailValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>

                    <span *ngIf="emailInvalid" class="text-danger">
                      <i class="fa fa-exclamation-circle"></i> veuillez saisir
                      un email Valide</span
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Mot de Passe</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="password"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.motDePasse }}"
                      [(ngModel)]="_service.consultantAuthObjet.motDePasse"
                    />
                    <span *ngIf="PasswordValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Téléphone</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="number"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.numeroTelephone }}"
                      [(ngModel)]="_service.consultantAuthObjet.numeroTelephone"
                      (input)="PhoneValid = false"
                      placeholder="0606060606"
                    />
                    <span *ngIf="PhoneValid" class="text-danger"
                      ><i class="fa fa-exclamation-circle"></i>Le champs est
                      obligatoire
                    </span>

                  </div>
                </div>
              </fieldset>
              <hr />
              <div class="form-group">
                <div
                  class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"
                >
                  <input
                    class="btn btn-primary"
                    type="submit"
                    value="Editer le Profile"
                    (click)="edite()"
                  />
                  <div
                    *ngIf="editDone"
                    class="alert alert-success"
                    role="alert"
                    style="margin-top: 1%
                    ;width: 35%"

                  >
                    Le profil a été bien editer !</div>
                  <div
                    *ngIf="showError"
                    class="alert alert-danger"
                    role="alert"
                    style="margin-top: 1% ;width: 35%"
                  >
                    Veuillez saisir tous les champs
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-panel"
            [class.in]="selectedTab === 'Paiement'"
            [class.active]="selectedTab === 'Paiement'"
            id="Paiement"
            *ngIf="selectedTab === 'Paiement'"
          >
            <h2 class="title">Paiement</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Informations sur Carte</h3>

                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Adresse</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.adresse }}"
                      [(ngModel)]="_service.consultantAuthObjet.adresse"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >RIB</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.rib }}"
                      [(ngModel)]="_service.consultantAuthObjet.rib"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Banque</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ _service.consultantAuthObjet.banque }}"
                      [(ngModel)]="_service.consultantAuthObjet.banque"
                    />
                  </div>
                </div>
              </fieldset>

              <hr />
              <div class="form-group">
                <div
                  class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"
                >
                  <input
                    class="btn btn-primary"
                    type="submit"
                    value="Editer Paiement"
                    (click)="edite()"
                  />
                  <div
                    *ngIf="editDone"
                    class="alert alert-success"
                    role="alert"
                    style="margin-top: 1%;width: 35%"
                  >
                    Le paiement a été bien editer !
                  </div>
                  <div
                    *ngIf="showError"
                    class="alert alert-danger"
                    role="alert"
                    style="margin-top: 1% ;width: 35%"
                  >
                    Veuillez saisir tous les champs
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-panel"
            [class.in]="selectedTab === 'Détails'"
            [class.active]="selectedTab === 'Détails'"
            id="Détails"
            *ngIf="selectedTab === 'Détails'"
          >
            <h2 class="title">Détails</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Description du Profil</h3>

                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Description</label
                  >
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <textarea
                      type="text"
                      class="form-control"
                      value="{{
                        _service.consultantAuthObjet.descriptionProfile
                      }}"
                      [(ngModel)]="
                        _service.consultantAuthObjet.descriptionProfile
                      "
                    ></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label"
                    >Langue</label
                  >
                  <div id="language-group" class="col-md-10 col-sm-9 col-xs-12">
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          value="francais"
                          [(ngModel)]="_service.consultantAuthObjet.francais"
                        />
                        Français
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          value="anglais"
                          [(ngModel)]="_service.consultantAuthObjet.anglais"
                        />
                        Anglais
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          value="espagnol"
                          [(ngModel)]="_service.consultantAuthObjet.espagnol"
                        />
                        Espagnol
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          value="Arabe"
                          [(ngModel)]="_service.consultantAuthObjet.arabe"
                        />
                        Arabe
                      </label>
                    </div>
                    <!-- Ajoutez d'autres langues selon vos besoins -->
                  </div>
                </div>
              </fieldset>

              <hr />
              <div class="form-group">
                <div
                  class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"
                >
                  <input
                    class="btn btn-primary"
                    type="submit"
                    value="Editer les Détails"
                    (click)="edite()"
                  />
                  <div
                    *ngIf="editDone"
                    class="alert alert-success"
                    role="alert"
                    style="margin-top: 1% ;width: 35%"
                  >
                    Les détails sont bien editer !
                  </div>
                  <div
                    *ngIf="showError"
                    class="alert alert-danger"
                    role="alert"
                    style="margin-top: 1% ;width: 35%"
                  >
                    Veuillez saisir tous les champs
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="content-panel"
            [class.in]="selectedTab === 'Carrière'"
            [class.active]="selectedTab === 'Carrière'"
            id="Carrière"
            *ngIf="selectedTab === 'Carrière'"
          >
            <h2 class="title">Carrière</h2>
            <div class="form-horizontal">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Expériences Professionnelle</h3>
                <div class="form-group">
                  <div class="col-md-12 col-sm-9 col-xs-12">
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="experience"
                        (input)="isEmpty()"
                        style="width: 95%;">



<button
                        type="button"
                        (click)="addExperience()"
                        class="btn btn-success-outline"
                        [disabled]="exprienceEmpty"
                        style="margin-inline-start: 96%;
    margin-top: -6%;"
                      >
                        <i class="fa fa-plus" style="color: white"></i>
                      </button>

                    </div>


                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Expériences</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let exp of _service.consultantAuthObjet
                                .experiencesPro;
                              let i = index
                            "
                          >
                            <td>{{ exp }}</td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="td-actions text-right">
                              <button
                                type="button"
                                class="btn btn-danger btn-just-icon btn-sm"
                                style="background-color: red"
                                (click)="supprimerExperiencePro(i)"
                              >
                                <i class="fa fa-trash" style="color: white"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Educations</h3>
                <div class="form-group">
                  <div class="col-md-12 col-sm-9 col-xs-12">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="education"
                        (input)="isEmpty()"
                        style="width: 95%;"
                      />
                      <button
                        id="plus"
                        type="button"
                        (click)="addEducation()"
                        class="btn btn-success-outline"
                        [disabled]="educationEmpty"
                        style="margin-inline-start: 96%;
    margin-top: -6%;"
                      >
                        <i class="fa fa-plus" style="color: white"></i>
                      </button>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Educations</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let ed of _service.consultantAuthObjet.educations;
                              let i = index
                            "
                          >
                            <td>{{ ed }}</td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="td-actions text-right">
                              <button
                                type="button"
                                class="btn btn-danger btn-just-icon btn-sm"
                                style="background-color: red"
                                (click)="supprimerEducation(i)"
                              >
                                <i class="fa fa-trash" style="color: white"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="fieldset">
                <h3 class="fieldset-title">Formations</h3>
                <div class="form-group">
                  <div class="col-md-12 col-sm-9 col-xs-12">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="formation"
                        (input)="isEmpty()"
                        style="width: 95%;"
                      />
                      <button
                        id="plus"
                        type="button"
                        (click)="addFormation()"
                        class="btn btn-success-outline"
                        [disabled]="formationEmpty"
                        style="margin-inline-start: 96%;
    margin-top: -6%;"
                      >
                        <i class="fa fa-plus" style="color: white"></i>
                      </button>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Formations</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let for of _service.consultantAuthObjet
                                .formations;
                              let i = index
                            "
                          >
                            <td>{{ for }}</td>
                            <td></td>
                            <td></td>
                            <td class="text-right"></td>
                            <td class="td-actions text-right">
                              <button
                                type="button"
                                class="btn btn-danger btn-just-icon btn-sm"
                                style="background-color: red"
                                (click)="supprimerFormation(i)"
                              >
                                <i class="fa fa-trash" style="color: white"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
              <hr />
              <div class="form-group">
                <div
                  class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"
                >
                  <input
                    class="btn btn-primary"
                    type="submit"
                    value="Editer Carrière"
                    (click)="edite()"
                  />
                  <div
                    *ngIf="editDone"
                    class="alert alert-success"
                    role="alert"
                    style="margin-top: 1% ;width: 35%"
                  >
                    Carrière a été bien editer !
                  </div>
                  <div
                    *ngIf="showError"
                    class="alert alert-danger"
                    role="alert"
                    style="margin-top: 1% ;width: 35%"
                  >
                    Veuiller remplir les champs!
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
