<body>
  <div class="container mt-5">
    <h1>
      <img
        src="../../../assets/images/circle_tick_check_mark_paint_brush_stroke.jpg"
        style="width: 100px; margin-left: 17%"
        alt=""
      />
      Conditions générales d’utilisation du service
    </h1>

    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body ">
            <h4 style="font-weight: bold">
              Conformément à la loi 09-08 sur la protection des personnes
              physiques à l’égard du traitement des données à caractère
              personnel, il est porté à votre connaissance qu'en utilisant le
              service de paiement en ligne pour payer un service ou un produit
              commercialisé par un site marchand affilié au Centre Monétique
              Interbancaire :
            </h4>
            <br />
            <ul class="list-group">
              <li class="list-group-item">
                <img
                  src="../../../assets/images/image-paiement-fleche.png"
                  width="25px"
                  alt=""
                />

                Les destinataires des données concernant un payeur telles que le
                nom et prénom, courriel, adresse et numéro de téléphone, à
                l’exception des données bancaires confidentielles, et qui sont
                soit transmises par le site Marchand au Centre Monétique
                Interbancaire ou saisies par le payeur sur l’écran de paiement
                mit à sa disposition par le Centre Monétique Interbancaire pour
                le compte du Marchand et sous son ordre, pourront être en vertu
                de l'autorisation de la Commission Nationale de Contrôle de la
                Protection des Données à Caractère Personnel «CNDP»
                N°D-W-43/2012, les collaborateurs du Centre Monétique
                Interbancaire responsables du traitement dont la finalité est le
                suivi de l’opération du paiement initiée par le payeur sur le
                site Marchand.
              </li>
              <li class="list-group-item">
                <img
                  src="../../../assets/images/image-paiement-fleche.png"
                  width="25px"
                  alt=""
                />

                Les destinataires des données bancaires qui sont saisies par le
                payeur sur l’écran de paiement mis à sa disposition par le
                Centre Monétique Interbancaire pour le compte du Marchand et
                sous son ordre, pourront être en vertu de l'autorisation de la
                Commission Nationale de Contrôle de la Protection des Données à
                Caractère Personnel « CNDP » N°D-W-43/2012, les systèmes
                d’information et monétique du Centre Monétique Interbancaire et
                le système monétique de la banque marocaine ou internationale
                émettrice de la carte bancaire utilisée lors du paiement en
                ligne. Toutes ces entités sont responsables, chacune suivant ses
                attributions, du traitement dont la finalité est le traitement
                de l’opération du paiement initiée par le payeur sur le site
                marchand.
              </li>
              <li class="list-group-item">
                <img
                  src="../../../assets/images/image-paiement-fleche.png"
                  width="25px"
                  alt=""
                />

                Les données recueillies par le Centre Monétique Interbancaire ne
                peuvent être utilisées à des fins de prospection par ce dernier
                et sont la propriété du Marchand qui a délégué la gestion du
                paiement de son site marchand au Centre Monétique Interbancaire.
              </li>
              <li class="list-group-item">
                <img
                  src="../../../assets/images/image-paiement-fleche.png"
                  width="25px"
                  alt=""
                />

                Pour exercer votre droit de consultation et de rectification de
                vos données communiquées au Marchand directement sur son site
                web, vous devez suivre les modalités précisées par le Marchand
                et formulées sur son site marchand ou dans ses conditions
                générales de ventes. Le Centre Monétique Interbancaire exige un
                engagement des Marchands affiliés à son service de paiement en
                ligne de mettre à votre disposition ce droit. Toutefois il ne
                saurait être tenu pour responsable si le Marchand ne respecte
                pas ces engagements légaux.
              </li>
              <li class="list-group-item">
                <img
                  src="../../../assets/images/image-paiement-fleche.png"
                  width="25px"
                  alt=""
                />
                Les données enregistrées par le Centre Monétique Interbancaire
                sont archivées pendant une durée de 18 mois car elles
                constituent une partie de la preuve de la transaction de
                paiement effectuée par le payeur pour le compte du Marchand et
                ce en conformité avec les exigences réglementaires régissant
                l’activité du Centre Monétique Interbancaire et les exigences
                contractuelles la liant au Marchand.
              </li>
              <li class="list-group-item">
                <img
                  src="../../../assets/images/image-paiement-fleche.png"
                  width="25px"
                  alt=""
                />
                Les données enregistrées par le Centre Monétique Interbancaire
                sont archivées pendant une durée de 18 mois car elles
                constituent une partie de la preuve de la transaction de
                paiement effectuée par le payeur pour le compte du Marchand et
                ce en conformité avec les exigences réglementaires régissant
                l’activité du Centre Monétique Interbancaire et les exigences
                contractuelles la liant au Marchand.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
