<head>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <div class="container">

    <div class="section" class="top-image">
      <div class="card py-4">
        <p class="titre">
         <i class=" fa fa-check-circle" style="color: #6b9e05 ; font-size: 120%;"></i> Condtions de Paiement
        </p>

        <div class="card-body">
          <p class="p-titre">1. Introduction</p>
          <p class="paragraph">
            Bienvenue sur ISTICHARA, la plateforme dédiée à la gestion des
            consultations en ligne dans un domaine spécifique. En utilisant
            notre site, vous acceptez les conditions énoncées ci-dessous.
            Veuillez les lire attentivement.
          </p>
          <p class="p-titre">2. Utilisation du Site</p>
          <p class="paragraph">
            En accédant à ISTICHARA, vous confirmez que vous êtes majeur et avez
            le droit légal d&#x27;utiliser nos services. Vous vous engagez à
            respecter toutes les lois et règlements applicables lors de
            l&#x27;utilisation de la plateforme.
          </p>
          <p class="p-titre">3. Comptes Utilisateurs</p>
          <p class="paragraph">
            Les utilisateurs sont responsables de la confidentialité de leurs
            informations de compte. Les comptes doivent être utilisés
            individuellement, et toute activité suspecte doit être signalée à
            notre support client.
          </p>
          <p class="p-titre">4. Consultations en Ligne</p>
          <p class="paragraph">
            Les consultations en ligne sont réservées aux personnes majeures et
            aux entreprises légalement capables. ISTICHARA n&#x27;est pas
            responsable du contenu des consultations, mais nous nous engageons à
            maintenir des normes élevées de qualité et d&#x27;éthique.
          </p>
          <p class="p-titre">5. Paiements et Transactions</p>
          <p class="paragraph">
            Les transactions financières sur ISTICHARA sont sécurisées. Les
            paiements sont bloqués dans la plateforme jusqu&#x27;à la fin de la
            consultation. Le client a le pouvoir de valider le paiement après la
            consultation. En cas d&#x27;avis défavorable du client, un
            remboursement peut être initié.
          </p>
          <p class="p-titre">6. Avis et Retours</p>
          <p class="paragraph">
            Les clients peuvent donner leur avis après chaque consultation. Les
            avis favorables valident automatiquement les paiements. En cas
            d&#x27;avis défavorable, le client doit expliquer son opinion.
            L&#x27;administrateur vérifiera la consultation enregistrée.
          </p>
          <p class="p-titre">7. Propriété Intellectuelle</p>
          <p class="paragraph">
            Tout le contenu de la plateforme, y compris les textes, images,
            logos, etc., est la propriété intellectuelle d&#x27; ISTICHARA.
            Aucune utilisation non autorisée n&#x27;est permise.
          </p>
          <p class="p-titre">8. Confidentialité</p>
          <p class="paragraph">
            ISTICHARA s&#x27;engage à protéger la confidentialité des
            informations utilisateur conformément à sa politique de
            confidentialité. Les consultations peuvent être enregistrées à des
            fins de vérification avec le consentement des participants.
          </p>
          <p class="p-titre">9. Modifications des Conditions Générales</p>
          <p class="paragraph">
            ISTICHARA se réserve le droit de modifier ces conditions à tout
            moment. Les utilisateurs seront informés de ces modifications.
          </p>
          <p class="p-titre">10. Résiliation de Compte</p>
          <p class="paragraph">
            ISTICHARA peut résilier les comptes d&#x27;utilisateurs en cas de
            non-respect des conditions générales.
          </p>
          <p class="p-titre">11. Responsabilités</p>
          <p class="paragraph">
            ISTICHARA n&#x27;est pas responsable du comportement des consultants
            ou des clients. Nous ne garantissons pas la disponibilité continue
            du site.
          </p>
          <p class="p-titre">12. Contact</p>
          <p class="paragraph">
            Pour toute question ou préoccupation, veuillez contacter notre
            support client via le formulaire en ligne.
          </p>
          <p class="paragraph">
            En utilisant ISTICHARA, vous acceptez ces conditions générales.
            Merci de faire partie de notre communauté.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
