<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

<body>
  <div class="firstDiv">
    <div class="container">
      <div class="row justify-content-center dropdown-margin-left">
        <div class="col-md-4">
          <div class="input-group mb-3 ">
            <label class="input-group-text" for="dropdown1"><i class="fa fa-globe"></i></label>
            <select class="form-select " id="dropdown1"
                [(ngModel)]="idDomaine"(change)="onIdDomaineChange()"
                 name="Category-2" style="height: 55px;">
                 <option  disabled selected>Choisi Domaine</option>
                 <option *ngFor="let domaine of domaines" value="{{domaine.idDomaine}}">{{domaine.nomDomaine}}</option>

            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3 ">
            <label class="input-group-text" for="dropdown2"><i class="fa fa-list-ul"></i></label>
            <select [(ngModel)]="nomCategorie" class="form-select " id="dropdown2" style="height: 55px;" >
                <option  disabled selected>Choisi Categorie</option>
                <option *ngFor="let categorie of categories" value="{{categorie.nomCategorie}}">{{categorie.nomCategorie}}</option>

            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <button   (click)="getConsultations()" class="btn"  type="button" >Rechercher</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <hr>
      <h6 style="margin-left: 17px;">✅ Réservez une consultation vidéo en ligne et à distance à votre convenance avec le consultant de votre choix et dans le domaine qui vous intéresse sur ISTICHARA.</h6>
    <hr>

  <div class="div2" *ngFor="let c of dataConsultations">
    <div class=" text-center" >
      <div class="row" >
        <div class="col col-md-5 col1 border " >
          <div class="container">
            <div class="row">

              <div class="col-md-6">
                  <div class="container">
                    <img [src]="'../../../../../assets/images-consultants/'+c.consultant.photoProfile" alt="Profile Picture" class="img-fluid rounde mb-3" style="width: 150px; height: 150px;border-radius: 10px;">
                    <h5 class="mb-2">{{c.consultant.nom}}  {{c.consultant.prenom}}</h5>
                    <p>Tarif de consultation :</p><h6>{{c.prix}}</h6>
                </div>
              </div>

              <div class="col-md-6">
                <p class="mb-3">description consultation : {{c.description}}</p>
                <p class="mb-3">description consultant : {{c.consultant.descriptionProfile}}</p>

                 <hr style="width: 50%; margin-left: 27%;"><br>
                <p>Languages : </p>
                <div class="col">
                  <p>
                    <span class="mr-3" *ngIf="c.consultant.arabe==true"><img src="../../../assets/images/arabe.png" style="width: 15%;" alt=""> </span>
                    <span class="mr-3"  *ngIf="c.consultant.anglais==true"><img src="../../../assets/images/anglais.png"  style="width: 13%;" alt=""></span>
                    <span class="mr-3"  *ngIf="c.consultant.francais==true"><img src="../../../assets/images/francais.png " style="width: 14%;" alt=""></span>
                    <span class="mr-3"  *ngIf="c.consultant.espagnol==true"><img src="../../../assets/images/espagnol.png" style="width: 14%;" alt=""></span>

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col2 border " >
          <div class="container">
            <div class="row">
        <div class="card">
          <div class="card-header">
            Calendar
          </div>
          <div class="card-body">
            <app-plan-consultation-utilisateur [planConsultation]="c.plans"></app-plan-consultation-utilisateur>
          </div>
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
 </body>


 -->
<head>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</head>
<body id="bd">
  <div class="firstDiv">
    <div class="container">
      <div class="row justify-content-center dropdown-margin-left">
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text" for="dropdown1"
              ><i class="fa fa-globe"></i
            ></label>
            <select
              [(ngModel)]="idDomaine"
              (change)="onIdDomaineChange()"
              class="form-select"
              id="dropdown1"
              name="Category-2"
              style="height: 55px"
            >
              <option disabled selected>Choisi Domaine</option>
              -
              <option
                *ngFor="let domaine of domaines"
                value="{{ domaine.idDomaine }}"
              >
                {{ domaine.nomDomaine }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text" for="dropdown2"
              ><i class="fa fa-list-ul"></i
            ></label>
            <select
              [(ngModel)]="nomCategorie"
              class="form-select"
              id="dropdown2"
              name="Category-2"
              style="height: 55px"
            >
            <option value="">Choisissez une catégorie</option> <!-- Option vide -->
            <option
                *ngFor="let categorie of categories"
                value="{{ categorie.nomCategorie }}"
              >
                {{ categorie.nomCategorie }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <button (click)="getConsultations()" class="btn" type="button">
              Rechercher
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr
    style="
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border: 1px solid rgb(67, 76, 255);
    "
  />
  <h3 style="margin-left: 33px">
    <i class=" fa fa-check-circle" style="color: #6b9e05 ; font-size: 120%;"></i> Réservez une
    consultation vidéo en ligne et à distance à votre convenance avec le
    consultant de votre choix et dans le domaine qui vous intéresse sur
    ISTICHARA.
  </h3>
  <hr
    style="
      margin-left: 24%;
      width: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border: 1px solid rgb(67, 76, 255);
    "
  />


  <div class="div2" *ngFor="let c of dataConsultations" style="width: 98%">
    <div class="text-center">
      <div class="row">
        <div class="col col-md-5 col1 border1">
          <div class="container rotating-container">
            <div class="row">
              <div class="col-md-6 leftcardimage">
                <div class="container">
                  <img
                    [src]="
                      '../../../../../assets/images-consultants/' +
                      c.consultant.photoProfile
                    "
                    alt="Profile Picture"
                    class="img-fluid mb-2"
                    style="
                      width: 210px;
                      height: 170px;
                      border-radius: 100%;
                      margin-top: 17%;
                    "
                  />
                  <h3 class="card-title mb-1"   >
                    <a style="color: blueviolet; text-decoration: none ; cursor: pointer;" (click)="goToProfil(c.consultant.idConsultant)" > Voir le profil</a
                    >
                  </h3>
                  <h5 class="card-text">
                    Tarif de consultation:
                    <span class="price">{{ c.prix }}</span>
                  </h5>
                  <h5 class="card-text">
                    Durée: <span class="duration-value">{{ c.duree }}</span>
                  </h5>
                  <span class="mr-3" *ngIf="c.consultant.arabe == true"
                    ><img
                      src="../../../assets/images/arabe.png"
                      style="width: 15%"
                      alt=""
                    />
                  </span>
                  <span class="mr-3" *ngIf="c.consultant.anglais == true"
                    ><img
                      src="../../../assets/images/anglais.png"
                      style="width: 13%"
                      alt=""
                  /></span>
                  <span class="mr-3" *ngIf="c.consultant.francais == true"
                    ><img
                      src="../../../assets/images/francais.png "
                      style="width: 14%"
                      alt=""
                  /></span>
                  <span class="mr-3" *ngIf="c.consultant.espagnol == true"
                    ><img
                      src="../../../assets/images/espagnol.png"
                      style="width: 14%"
                      alt=""
                  /></span>
                </div>
              </div>

              <div class="col-md-6 desc">
                <h4 class="mb-3">
                  {{ c.consultant.nom }} {{ c.consultant.prenom }}
                </h4>
                <div class="consultation-description">
                   <p class="mb-1">{{ c.consultant.descriptionProfile }}.</p>
                </div>
                <hr
                  style="
                    width: 50%;
                    margin-left: 27%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    border: 1px solid rgb(67, 76, 255);
                  "
                />
                <br />
              </div>
              <div class="profile-description  mt-2">
                 <p class="mb-1">{{ c.description }} .</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col2 border1" style="width: 58.07%;">
          <div class="container" >
            <div class="row" >
              <div class="card" >
                <div class="card-body">
                  <app-plan-consultation-utilisateur
                    [planConsultation]="c.plans"
                  ></app-plan-consultation-utilisateur>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngFor="let pageNumber of pageNumbers">
          <a class="page-link"(click)="goToPage(pageNumber)" style="cursor: pointer;">{{ pageNumber + 1 }}</a>
        </li>
      </ul>
    </nav>

  </div>
</body>
