<head>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</head>
<body id="bd">
  <div class="firstDiv">
    <div class="container">
      <div class="row justify-content-center dropdown-margin-left">
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text" for="dropdown1"
              ><i class="fa fa-globe"></i
            ></label>
            <select
              [(ngModel)]="idDomaine"
              (change)="onIdDomaineChange()"
              class="form-select"
              id="dropdown1"
              name="Category-2"
              style="height: 55px"
            >
              <option disabled selected>Choisi Domaine</option>
              -
              <option
                *ngFor="let domaine of domaines"
                value="{{ domaine.idDomaine }}"
              >
                {{ domaine.nomDomaine }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text" for="dropdown2"
              ><i class="fa fa-list-ul"></i
            ></label>
            <select
              [(ngModel)]="nomCategorie"
              class="form-select"
              id="dropdown2"
              name="Category-2"
              style="height: 55px"
            >
              <option value="">Choisissez une catégorie</option>
              <!-- Option vide -->
              <option
                *ngFor="let categorie of categories"
                value="{{ categorie.nomCategorie }}"
              >
                {{ categorie.nomCategorie }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <button (click)="getConsultations()" class="btn" type="button">
              <i class="fa fa-search"></i> Rechercher
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr
    style="
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border: 1px solid rgb(12, 116, 123);
    "
  />
  <h3 style="margin-left: 33px">
    <i
      class="fa fa-check-circle"
      style="color: rgb(12, 123, 99); font-size: 120%"
    ></i>
    Réservez une consultation vidéo en ligne et à distance à votre convenance
    avec le consultant de votre choix et dans le domaine qui vous intéresse sur
    ISTICHARA.
  </h3>
  <hr
    style="
      margin-left: 24%;
      width: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      border: 1px solid rgb(12, 116, 123);
    "
  />

  <div class="div2" *ngFor="let c of dataConsultations" style="width: 98%">
    <div class="text-center">
      <div class="row">
        <div class="col col-md-5 col1 border1">
          <div class="container ">
            <div class="row">
              <div class="col-md-6 card leftcardimage">
                <div class="container">
                  <img
                    [src]="
                      '../../../../../assets/images-consultants/' +
                      c.consultant.photoProfile
                    "
                    alt="Profile Picture"
                    class="img-fluid mb-2"
                    style="
                      width: 210px;
                      height: 170px;
                      border-radius: 100%;
                      margin-top: 17%;
                    "
                  />
                  <h3 class="card-title mb-1">
                    <a
                      style="
                        color: rgb(0, 100, 97);
                        text-decoration: none;
                        cursor: pointer;
                      "
                      (click)="goToProfil(c.consultant.idConsultant)"
                    >
                      <b>Voir le profil</b>
                    </a>
                  </h3>
                  <h5 class="card-text" style="font-size: medium">
                    Tarif de consultation:
                    <span class="price">{{ c.prix }} DH</span>
                  </h5>
                  <h5 class="card-text" style="font-size: medium">
                    Durée: <span class="duration-value">{{ c.duree }}</span>
                  </h5>
                  <span class="mr-3" *ngIf="c.consultant.arabe == true"
                    ><img
                      src="../../../assets/images/arabe.png"
                      style="width: 15%"
                      alt=""
                    />
                  </span>
                  <span class="mr-3" *ngIf="c.consultant.anglais == true"
                    ><img
                      src="../../../assets/images/anglais.png"
                      style="width: 13%"
                      alt=""
                  /></span>
                  <span class="mr-3" *ngIf="c.consultant.francais == true"
                    ><img
                      src="../../../assets/images/francais.png "
                      style="width: 14%"
                      alt=""
                  /></span>
                  <span class="mr-3" *ngIf="c.consultant.espagnol == true"
                    ><img
                      src="../../../assets/images/espagnol.png"
                      style="width: 14%"
                      alt=""
                  /></span>
                </div>
              </div>

              <div class="col-md-6 desc">
                <h4 class="mb-3">
                  {{ c.consultant.nom }} {{ c.consultant.prenom }}
                </h4>
                <div class="consultation-description">
                  <p class="mb-1">{{ c.consultant.descriptionProfile }}.</p>
                </div>
                <hr
                  style="
                    width: 50%;
                    margin-left: 27%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    border: 1px solid rgb(14, 117, 100);
                  "
                />
                <br />
              </div>
              <div class="profile-description mt-2">
                <p class="mb-1">{{ c.description }} .</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col2 border1">
          <div class="container">
            <div class="row">
              <div class="card">
                <div class="card-body">
                  <app-plan-consultation-utilisateur
                    [planConsultation]="c.plans"
                  ></app-plan-consultation-utilisateur>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngFor="let pageNumber of pageNumbers">
          <a
            class="page-link"
            (click)="goToPage(pageNumber)"
            style="cursor: pointer"
            >{{ pageNumber + 1 }}</a
          >
        </li>
      </ul>
    </nav>
  </div>
</body>
