<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<body>
  <div class="container">
    <div class="section-title">
      <h3>
        <img
          src="../../../assets/images/image-admin-demande-consultant.jpg"
          width="30%"
          alt=""
        />
        Demande de creation du compte
      </h3>
    </div>
  </div>
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrap">
            <table class="table table-responsive-xl">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Domaine</th>
                  <th>Category</th>
                  <th>Langues</th>
                  <th><i class="fa fa-user"></i></th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="alert" role="alert">
                  <td class="d-flex align-items-center">
                    <div
                      class="img"
                      style="
                        background-image: url(../../../assets/images/icon-sidentifier-admin.png);
                      "
                    ></div>
                    <div class="pl-3">
                      <h3>Oumaima hajji</h3>
                      <span>ouma.hajj1dddd23@gmail.com</span>
                    </div>
                  </td>

                  <td style="width: 200px">Religion</td>
                  <td style="width: 800px">
                    <ul>
                      <li>7adith</li>
                      <li>Fi9h</li>
                      <li>textDDDD</li>
                    </ul>
                  </td>
                  <td style="width: 2200px">
                    <img
                      src="../../../assets/images/francais.png"
                      width="25px"
                      style="display: inline-block; margin-right: 5px"
                      alt=""
                    />
                    <img
                      src="../../../assets/images/anglais.png"
                      width="25px"
                      style="display: inline-block; margin-right: 5px"
                      alt=""
                    />
                    <img
                      src="../../../assets/images/arabe.png"
                      width="25px"
                      style="display: inline-block; margin-right: 5px"
                      alt=""
                    />
                    <img
                      src="../../../assets/images/espagnol.png"
                      width="25px"
                      style="display: inline-block; margin-right: 5px"
                      alt=""
                    />
                  </td>
                  <td style="width: 100px">
                    <button
                      type="button"
                      class="btn btn-warning"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      style="width: 100%; border-radius: 50px"
                    >
                      <i class="fa fa-user"></i>
                    </button>
                  </td>
                  <td>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="flexSwitchCheckDefault"
                        style="font-size: 26px"
                      />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="modal fade" id="exampleModal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header text-white">
                    <h1 class="modal-title">
                      <i class="fa-solid fa-address-card"></i> Consultant
                      Information
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-4">
                          <div
                            class="card shadow mb-3"
                            style="
                              border-top: 13px solid rgba(0, 107, 137, 0.566);
                              border-radius: 25px;
                            "
                          >
                            <img
                              src="../../../assets/images/icon-sidentifier-admin.png"
                              class="card-img-top"
                              alt="Consultant Image"
                            />
                            <div class="card-body">
                              <h3
                                class="card-title d-flex justify-content-center"
                              >
                                HAJJI OUMAIMA
                              </h3>
                              <p class="card-text">
                                <strong
                                  ><i class="fa-solid fa-address-card"></i
                                ></strong>
                                FA165545
                              </p>
                              <p class="card-text">
                                <strong
                                  ><i class="fa-solid fa-envelope"></i
                                ></strong>
                                consultant@email.com
                              </p>
                              <p class="card-text">
                                <strong
                                  ><i class="fa-solid fa-phone"></i
                                ></strong>
                                +212 874567890
                              </p>
                              <p class="card-text">
                                <strong
                                  ><i class="fa-solid fa-location-dot"></i
                                ></strong>
                                18 rue fallah ahram
                              </p>
                              <p class="card-text">
                                <strong>
                                  <i class="fa-solid fa-earth-americas"></i>
                                </strong>
                                Maroc
                              </p>
                              <p class="card-text">
                                <strong
                                  ><i class="fa-solid fa-city"></i
                                ></strong>
                                Berkane
                              </p><hr>
                              <div class="text-center">
                                <div class="d-inline">
                                  <img
                                    src="../../../assets/images/francais.png"
                                    width="25px"
                                    style="margin-right: 5px"
                                    alt=""
                                  />
                                  <img
                                    src="../../../assets/images/anglais.png"
                                    width="25px"
                                    style="margin-right: 5px"
                                    alt=""
                                  />
                                  <img
                                    src="../../../assets/images/arabe.png"
                                    width="25px"
                                    style="margin-right: 5px"
                                    alt=""
                                  />
                                  <img
                                    src="../../../assets/images/espagnol.png"
                                    width="25px"
                                    style="margin-right: 5px"
                                    alt=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div
                            class="card"
                            style="
                              border-left: 9px solid rgb(255, 229, 183);
                            "
                          >
                            <div class="card-body">
                              <h5 class="card-title">Profile Information</h5>

                              <div class="card-text">
                                <strong
                                  style="
                                    background-color: rgba(
                                      204,
                                      247,
                                      255,
                                      0.804
                                    );
                                  "
                                  >Profil Description
                                </strong>
                                <p>
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Corporis doloremque
                                  obcaecati, delectus voluptatem illum odit
                                  minima itaque. Odit labore vitae et enim
                                  facilis eligendi, aliquam, qui aspernatur
                                  libero ratione laboriosam? Lorem ipsum dolor
                                  sit amet consectetur, adipisicing elit. Totam
                                  nam placeat in facere ea, officia vero aliquam
                                  officiis, minus nisi omnis sint porro
                                  molestias accusamus consequatur dolore odit,
                                  esse facilis.
                                </p>
                              </div>
                              <div class="card-text">
                                <strong
                                  style="
                                    background-color: rgba(
                                      204,
                                      247,
                                      255,
                                      0.804
                                    );
                                  "
                                  >Domaine
                                </strong>
                                <h4>Religion</h4>
                              </div>
                              <div class="card-text">
                                <strong
                                  style="
                                    background-color: rgba(
                                      204,
                                      247,
                                      255,
                                      0.804
                                    );
                                  "
                                >
                                  Categorie</strong
                                >
                                <ul style="list-style: none">
                                  <li>
                                    <i class="fa fa-check text-success"></i>
                                    3a9ida
                                  </li>
                                  <li>
                                    <i class="fa fa-check text-success"></i>
                                    7adith
                                  </li>
                                  <li>
                                    <i class="fa fa-check text-success"></i>
                                    coran
                                  </li>
                                  <li>
                                    <i class="fa fa-check text-success"></i>
                                    Tafsir
                                  </li>
                                </ul>
                              </div>
                              <hr />
                              <p class="card-text">
                                <strong
                                  style="
                                    background-color: rgba(
                                      204,
                                      247,
                                      255,
                                      0.804
                                    );
                                  "
                                  >Expériences Professionnelle</strong
                                >
                              </p>
                              <ul class="list-group mb-3">
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur,
                                  adipisicing elit.
                                </li>
                                <li class="list-group-item">
                                  Lorem, ipsum dolor sit amet consectetur
                                  adipisicing elit. Voluptatibus
                                </li>
                              </ul>
                              <p class="card-text">
                                <strong
                                  style="
                                    background-color: rgba(
                                      204,
                                      247,
                                      255,
                                      0.804
                                    );
                                  "
                                  >Education</strong
                                >
                              </p>
                              <ul class="list-group mb-3">
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                              </ul>
                              <p class="card-text">
                                <strong
                                  style="
                                    background-color: rgba(
                                      204,
                                      247,
                                      255,
                                      0.804
                                    );
                                  "
                                  >Formations</strong
                                >
                              </p>
                              <ul class="list-group mb-3">
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                                <li class="list-group-item">
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="modal-footer justify-content-center"
                    style="background-color: rgba(0, 107, 137, 0.566)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
