<section class="back">
  <div class="container py-4">
    <div class="text-center" style="margin-top: 4%">
      <h1 style="font-size: 30px; color: rgb(43, 0, 183)">
        Les Actualités à Découvrir
      </h1>
      <p style="margin-top: -0.8%">Découvrez l'Information Essentielle</p>
    </div>
    <br /><br><br>
    <article class="postcard dark3 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-education.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">Éducation en Évolution - Actualités et Innovations Pédagogiques</h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Découvrez notre domaine de l'éducation où nos consultants experts
          offrent des conseils personnalisés pour orienter votre parcours
          académique. Que vous ayez besoin de conseils sur la planification de
          carrière, d'orientation scolaire, ou de soutien dans vos études, nos
          experts éducatifs qualifiés sont là pour vous guider. Obtenez des
          conseils sur mesure pour maximiser votre succès académique et
          professionnel.
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-religion.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title red">
          <h2 class="text-black">
          Spiritualité en Lumière - Actualités et Sagesse Religieuse
          </h2>
        </h1>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Plongez dans notre domaine dédié à la religion, où nos consultants
          vous offrent une guidance spirituelle et des conseils personnalisés.
          Que vous cherchiez des réponses sur la foi, des conseils moraux, ou
          une orientation spirituelle, nos experts en religion sont là pour vous
          accompagner sur votre chemin spirituel. Explorez une approche unique
          pour nourrir votre vie spirituelle.
        </div>
      </div>
    </article>

    <article class="postcard dark2 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-sport.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
         Exploration Sportive - Actualités et Conseils Athlétiques
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Explorez notre domaine dédié au sport, où nos consultants spécialisés
          vous guident pour maximiser votre performance et votre bien-être
          athlétique. Que vous soyez un athlète professionnel ou amateur,
          recevez des conseils personnalisés sur la nutrition, l'entraînement et
          la récupération. Atteignez vos objectifs sportifs avec l'expertise de
          nos consultants sportifs qualifiés.
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-sante.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">Santé en Vue - Actualités et Conseils Bien-être</h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Plongez dans notre domaine dédié à la santé, où nous vous offrons des
          conseils et des informations pour améliorer votre bien-être physique
          et mental. Que vous cherchiez des conseils sur la nutrition, des
          astuces pour rester en forme, ou des informations sur la santé
          mentale, nos experts en santé sont là pour vous accompagner. Explorez
          une approche holistique pour prendre soin de vous-même et atteindre un
          équilibre optimal.
        </div>
      </div>
    </article>
    <article class="postcard dark3 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-biologie.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">Biologie en Lumière - Actualités et Découvertes</h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Explorez notre section dédiée à la biologie, où nous vous tenons
          informés des dernières actualités et découvertes dans le domaine
          passionnant de la vie. Plongez dans des sujets allant de la génétique
          à l'écologie, en passant par la microbiologie. Laissez-vous inspirer
          par les avancées scientifiques et les perspectives émergentes dans le
          monde de la biologie.
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-droit.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Droit en Évidence - Actualités et Expertise Juridique
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Explorez notre rubrique dédiée au droit où vous trouverez les
          dernières actualités et l'expertise juridique la plus pertinente.
          Restez informé sur les développements juridiques et découvrez des
          analyses approfondies sur une gamme de sujets juridiques. Que vous
          soyez un professionnel du droit ou simplement intéressé par la
          justice, plongez dans un monde de connaissances légales.
        </div>
      </div>
    </article>
    <article class="postcard dark2 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-economie.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Économie en Vue - Actualités et Analyses Économiques
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Explorez notre rubrique dédiée à l'économie où vous trouverez les
          dernières actualités et analyses économiques. Restez informé sur les
          tendances du marché, les politiques économiques et les développements
          mondiaux. Que vous soyez un professionnel de la finance ou simplement
          intéressé par les questions économiques, plongez dans un univers
          d'informations économiques riches et variées.
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link" href="#">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-technologie.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Technologie en Avant - Actualités et Innovations
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Explorez notre rubrique dédiée à la technologie où vous trouverez les
          dernières actualités et les innovations les plus récentes. Restez
          informé sur les avancées technologiques, les tendances du marché et
          les développements futuristes. Que vous soyez un passionné de
          technologie ou un professionnel du secteur, plongez dans un monde de
          découvertes et d'innovations technologiques.
        </div>
      </div>
    </article>
  </div>
</section>
