<section class="back">
  <div class="container py-4">
    <div class="text-center" style="margin-top: 4%">
      <h1
        style="
          font-size: 30px;
          text-transform: uppercase;
          font-weight: bold;
          color: #4d4ddf;
        "
      >
        Les Actualités à Découvrir
      </h1>
      <p style="margin-top: -0.8%; color: #4d4ddf">
        Découvrez l'Information Essentielle
      </p>
    </div>
    <br /><br /><br />
    <article class="postcard dark3 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-education.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Éducation en Évolution - Actualités et Innovations Pédagogiques
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Paraphée par le président de l’UM5 de Rabat, Farid El Bacha, et le
          président de l’université espagnole, Joaquín Goyache Goñi, cette
          convention vise à promouvoir une coopération fructueuse entre les deux
          universités dans le domaine du développement de l’enseignement, de la
          formation et de la recherche scientifique. De même, elle a pour
          objectifs d’encourager l’organisation d’activités conjointes de
          coopération et de développement de programmes et de projets
          spécifiques, l’échange d’étudiants, d’enseignants et de cadres pour
          partager des expériences d’enseignement et de gestion, ainsi que
          d’autres activités de promotion culturelle.
        </div>
        <div>
          <a
            href="https://lematin.ma/enseignement/convention-de-cooperation-entre-lum5-et-luniversite-complutense/222045 "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-religion.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title red">
          <h2 class="text-black">
            Spiritualité en Lumière - Actualités et Sagesse Religieuse
          </h2>
        </h1>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Un Marocain sur deux affirme lire ou écouter quotidiennement le Coran
          et d’autres textes religieux. Un sondage réalisé par «Arab Barometer»,
          dont les résultats ont été repris par le quotidien Assabah dans son
          numéro du jeudi 30 mars, relève que 53% des Marocains lisent ou
          écoutent des textes religieux et sacrés. Un grand nombre important de
          citoyens marocains soutiennent également qu’ils sont «pieux» ou
          «plutôt pieux». Selon le même sondage, même s’ils se déclarent pieux
          et qu’ils s’attachent à la religion, nombre de Marocains sondés
          reconnaissent ne pas être pratiquants.
        </div>
        <div>
          <a
            href="https://fr.le360.ma/politique/lla-religion-un-element-fondamental-de-la-vie-des-marocains_VBPXNBT5LRG4NOVBVEFKXGYJQE/ "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>

    <article class="postcard dark2 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-sport.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Exploration Sportive - Actualités et Conseils Athlétiques
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Liverpool a concédé sa troisième défaite de la saison en championnat
          d'Angleterre, la première à domicile, dimanche contre Crystal Palace
          (1-0), un revers fâcheux dans la course au titre pour les "Reds",
          troisièmes avec six matches restants.
        </div>
        <div>
          <a
            href="https://sport.le360.ma/angleterre/premier-league-liverpool-battu-par-crystal-palace-et-freine-dans-la-course-au-titre-111100 "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-sante.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Santé en Vue - Actualités et Conseils Bien-être
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Partout dans le monde, le droit à la santé de millions de personnes
          est de plus en plus menacé. Les maladies et les catastrophes sont
          d’importantes causes de décès et de handicap. Les conflits détruisent
          des vies, entraînant sur leur passage la mort, la souffrance, la faim
          et la détresse psychologique. La combustion d’énergies fossiles, qui
          est à l’origine de la crise climatique, nous prive de notre droit de
          respirer un air pur, la pollution de l’air intérieur et extérieur
          faisant une victime toutes les 5 secondes.
        </div>
        <div>
          <a
            href="https://www.doctinews.com/index.php/actualite/item/11166-journee-mondiale-de-la-sante-2024 "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
    <article class="postcard dark3 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-biologie.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Biologie en Lumière - Actualités et Découvertes
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          La Chambre syndicale des biologistes tient ses Rencontres annuelles
          les 3 et 4 février à Casablanca. Organisé sur le thème «Pour une
          biologie marocaine du futur», cet événement sera l’occasion pour les
          professionnels du secteur d’échanger autour de l’actualité de la
          biologie médicale, mais également de soulever les principales
          préoccupations de la profession.
        </div>
        <div>
          <a
            href="https://lematin.ma/express/2023/reforme-sante-biologistes-medicaux-veulent-impliquer/386248.html "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-droit.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Droit en Évidence - Actualités et Expertise Juridique
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          L’Autorité marocaine du marché des capitaux (AMMC) a rendu public son
          nouveau plan stratégique pour la période 2024-2028. Selon le
          communiqué accompagnant la diffusion du document, le plan stratégique,
          fruit d’un travail collaboratif impliquant les ressources internes de
          l’Autorité et l’écosystème du marché des capitaux pour être au plus
          près de ses attentes et de ses besoins, s’inscrit dans la continuité
          des avancées enregistrées lors de la réalisation des deux précédents
          plans de l’Autorité. Ce plan, poursuit le communiqué, a pour vision un
          marché des capitaux efficient et innovant, au service du développement
          de l’épargne et du financement de l’économie.
        </div>
        <div>
          <a
            href="https://www.lexisma.info/2024/03/26/publication-par-lammc-de-son-troisieme-plan-strategique-pour-la-periode-2024-2028/ "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
    <article class="postcard dark2 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-economie.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Économie en Vue - Actualités et Analyses Économiques
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          La croissance économique nationale se serait établie à 2,9%, au
          premier trimestre 2024, soutenue par la progression de 4% de la valeur
          ajoutée non-agricole, selon le Haut-Commissariat au Plan (HCP). Au
          deuxième trimestre, l’activité économique nationale afficherait une
          croissance de 2,7%, en variation annuelle, au lieu de +2,3% une année
          plus tôt.
        </div>
        <div>
          <a
            href="https://lematin.ma/economie/economie-marocaine-une-croissance-de-29-au-t1-2024-et-de-27-au-t2/221506 "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
    <article class="postcard dark1 dark red">
      <a class="postcard__img_link">
        <img
          class="postcard__img"
          src="../../../assets/images/actualites-domaine-technologie.jpg"
          alt="Image Title"
        />
      </a>
      <div class="postcard__text">
        <h2 class="text-black">
          Technologie en Avant - Actualités et Innovations
        </h2>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt text-black">
          Le Conseil de la concurrence a annoncé, mardi, que tous les opérateurs
          économiques concernés par la pratique de facturation des frais de
          services aux clients sur le paiement des factures par voie
          électronique, ont cessé de procéder à ces prélèvements.
        </div>
        <div>
          <a
            href="https://www.challenge.ma/paiement-des-e-factures-le-conseil-de-la-concurrence-met-fin-aux-prelevements-des-frais-de-services-278471/ "
            target="_blank"
            style="text-decoration: none; margin-left: 88%; color: #4d4ddf"
            >Voir plus ...</a
          >
        </div>
      </div>
    </article>
  </div>
</section>
