<app-menu-consultant-dashboard></app-menu-consultant-dashboard>

<body>
    <div class="kutup-contact-section-1">
      <div class="kutup-large-container-2">
        <div class="kutup-contact-grid-1"><img src="../../../assets/images/image-contact.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 77vw, 37vw" srcset="../../../assets/images/image-contact.jpg 500w, ../../../assets/images/image-contact.jpg 800w, ../../../assets/images/image-contact.jpg 1080w, ../../../assets/images/image-contact.jpg 1600w, ../../../assets/images/image-contact.jpg 2000w, ../../../assets/images/image-contact.jpg 2600w, ../../../assets/images/image-contact.jpg 3200w, ../../../assets/images/image-contact.jpg 4350w" alt="" class="kutup-photo-wrapper">
          <div id="w-node-_35299d53-3d41-926f-c552-8c5aaede4189-b273e1e5">
            <div class="kutup-contact-form-flex">
              <div class="kutup-small-top-text-2">Contactez Nous ....</div>
              <div class="kutup-divider-30px"></div>
              <div>
                <div class="w-form">
                    <div>
                      <input class="kutup-field-2 w-input" maxlength="256"  placeholder="Name" type="text" >
                      <div class="kutup-divider-10px"></div><input class="kutup-field-2 w-input" maxlength="256" placeholder="Email" type="email" >
                      <input class="kutup-field-2 w-input" maxlength="256" placeholder="Numéro de Télépone" type="tel" >
                      <div class="kutup-divider-10px"></div>
                    </div>
                    <div class="kutup-divider-10px"></div><textarea required="" placeholder="votre message...." maxlength="5000" id="message" name="message" data-name="message" class="textarea-2 w-input" ></textarea>
                    <div class="kutup-divider-15px-2"></div>
                    <div class="kutup-divider-20px-3"></div>
                    <input type="submit" class="kutup-button-white w-button" value="Contact Us"  >
                  <div class="success-message-2 w-form-done">
                    <div>Merci! Votre demande a été reçue!</div>
                  </div>
                  <div class="error-message-2 w-form-fail">
                    <div>Oops! Une erreur s'est produite lors de l'envoi du formulaire.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
