<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<body>
  <div class="container">
    <div class="section-title" style="padding-top: 10%">
      <h3><i class="fa-solid fa-question"></i> Questions et Réponse</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card1">
          <div class="card-body">
            <div class="row">
              <div class="mb-3">
                <label for="descriptionInput" class="form-label"
                  >Question</label
                >
                <textarea
                [(ngModel)]="questionData.question"
                  class="form-control"
                  id="descriptionInput"
                  rows="3"
                  placeholder=" Question... "
                ></textarea>
              </div>
            </div>
            <div class="mb-3">
              <label for="descriptionInput" class="form-label">Réponse</label>
              <textarea
              [(ngModel)]="questionData.reponse"

                class="form-control"
                id="descriptionInput"
                rows="3"
                placeholder=" Réponse..."
              ></textarea>
            </div>
            <div class="col-md-10 d-flex justify-content-end">
              <div class="text-left">
                <button type="button" class="btn btnAjouter" (click)="ajouterQuestion()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>

                    <th>Questions</th>
                    <th>Réponses</th>

                    <th class="text-right">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let q of listQuestions">
                    <td>
                      {{q.question}}
                    </td>
                    <td>
                      {{q.reponse}}
                    </td>

                    <td
                      class="td-actions text-right"
                      style="
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                      "
                    >
                      <button
                        type="button"
                        rel="tooltip"
                        class="btn btn-info btn-round btn-just-icon"
                        style="margin-right: 4px"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        (click)="getQuestionById(q.id)"
                      >
                        <i class="fa fa-edit" style="font-size: medium"></i>
                      </button>
                      <button
                        (click)="deleteQuestion(q.id,q.question)"
                        type="button"
                        rel="tooltip"
                        class="btn btn-danger btn-round btn-just-icon"
                      >
                        <i class="fa fa-trash" style="font-size: medium"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Button trigger modal -->
              <div *ngIf="questionDataUpdate!=null" class="modal fade" id="exampleModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">
                          <i class="fa fa-pen"></i> Modifier
                        </h1>
                        <button
                          type="button"
                          class="btn-close text-white"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="descriptionInput" class="form-label"
                                  >Question</label
                                >
                                <textarea
                                [(ngModel)]="questionDataUpdate.question"
                                  class="form-control"
                                  id="descriptionInput"
                                  rows="3"
                                  placeholder="Question..."
                                ></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="mb-3">
                                <label for="descriptionInput" class="form-label"
                                  >Réponse</label
                                >
                                <textarea
                                [(ngModel)]="questionDataUpdate.reponse"

                                  class="form-control"
                                  id="descriptionInput"
                                  rows="3"
                                  placeholder="Réponse..."
                                ></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button
                          type="button"
                          class="btn btn-round colormodalfermer"
                          data-bs-dismiss="modal"
                        >
                          <i class="fa fa-close text-white"></i>
                        </button>
                        <button
                        (click)="updateQuestion()"
                          type="button"
                          class="btn btn-round colormodalmodifier"
                        >
                          <i class="fa fa-save text-white"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
