<main
  id="main"
  class="main"
  style="background-color: rgba(242, 253, 255, 0.97)"
>
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Domaines</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa fa-globe"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countDomaine}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Catégories</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-layer-group"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countCategorie}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Consultants</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-users"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countConsultant}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->

          <!-- End Sales Card --><!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Clients</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-users"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countClient}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- End Sales Card --><!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Consultations</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-grid"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countConsultations}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Rendez-vous</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-clipboard-list"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countRendezVous}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Demandes d'inscription</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-right-to-bracket"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{countAllData.countDemandeCompte}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Nombre de Plan par Consultant</h5>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="idConsultant1" (change)="getNombrePlan()">
                  <option disabled selected value="">Choisir un consultant</option>
                  <option *ngFor="let c of allConsultants" value="{{c.id}}" >{{c.nom}} {{c.prenom}}</option>

                </select>
                <br />
                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6 *ngIf="countPlanByConsultant!=null">{{countPlanByConsultant.count}}</h6>
                    <h6 *ngIf="countPlanByConsultant==null">0</h6>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!--domaine categorie consultant-->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">
                  Nombre de Catégories et Consultants par Domaine
                </h5>
                <app-bar-chart></app-bar-chart>
              </div>
            </div>
          </div>
          <!--end-->
          <!--domaine consultation plan-->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">
                  Nombre de Consultation et Plan par Domaine
                </h5>
                <app-bar-horizontal-chart>
                </app-bar-horizontal-chart>
              </div>
            </div>
          </div>
          <!--end-->
        </div>
      </div>
      <!-- End Left side columns -->
      <div class="col-lg-4">
        <!-- Recent Activity -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dérnières Activités</h5>

            <div class="activity">

              <div *ngFor="let activity of listActivity" class="activity-item d-flex">
                <div class="activite-label">{{ formatDate(activity.date) }}</div>
                <i class="bi bi-circle-fill activity-badge align-self-start"
                   [ngClass]="{
                     'text-success': activity.action === 'ajouter',
                     'text-danger': activity.action === 'supprimer',
                     'text-warning': activity.action === 'consulter',
                     'text-primary': activity.action === 'modifier',
                     'text-muted': activity.action === 'rembourser'
                   }"></i>
                <div class="activity-content">
                  {{ activity.description }}
                </div>
              </div>
              <!-- End activity item-->
              
            </div>
          </div>
        </div>
        <!-- End Recent Activity -->

        <!-- Budget Report -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Rendez-vous par Domaine</h5>
            <app-pie-chart></app-pie-chart>
            <br />
          </div>
        </div>
        <!-- End Budget Report -->

        <!-- Website Traffic -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Rendez-vous par Consultant</h5>
            
            <app-doughnut-chart></app-doughnut-chart>
            <br />
          </div>
        </div>

        <!-- End Website Traffic -->
        <!-- Website Traffic -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Avis par Consultant</h5>
            <select class="form-select" aria-label="Default select example">
              <option selected>Choisir un consultant</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <app-pie-avis-chart [data]="avisData"></app-pie-avis-chart>
            <br />
          </div>
        </div>

        <!-- End Website Traffic -->
      </div>
      <!-- End Right side columns -->
    </div>
  </section>
</main>
