<main
  id="main"
  class="main"
  style="background-color: rgba(222, 251, 255, 0.112)"
>
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active text-primary">
          <i class="fa-solid fa-chart-column"></i> Dashboard
        </li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-7">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    ><i class="fa-solid fa-arrow-up-9-1"></i> Domaines</strong
                  >
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa fa-globe"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countDomaine }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    ><i class="fa-solid fa-arrow-up-9-1"></i> Catégories</strong
                  >
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-layer-group"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countCategorie }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div
              class="card info-card customers-card"
              style="border-bottom: 5px solid rgba(255, 102, 0, 0.47)"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    ><i class="fa-solid fa-users-line"></i> Consultants</strong
                  >
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-users"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countConsultant }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card --><!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    ><i class="fa-solid fa-users-between-lines"></i>
                    Clients</strong
                  >
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-users"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countClient }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- End Sales Card --><!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    ><i class="fa-solid fa-people-arrows"></i>
                    Consultations</strong
                  >
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-grid"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countConsultations }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div
              class="card info-card cardRende customers-card"
              style="border-bottom: 5px solid rgba(255, 102, 0, 0.47)"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    ><i class="fa-solid fa-calendar-check"></i>
                    Rendez-vous</strong
                  >
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-clipboard-list"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countRendezVous }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong> Demandes d'inscription</strong>
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="fa-solid fa-right-to-bracket"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ countAllData.countDemandeCompte }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong>Nombre de Plan par Consultant</strong>
                </h5>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="idConsultant1"
                  (change)="getNombrePlan()"
                >
                  <option disabled selected value="">
                    Choisir un consultant
                  </option>
                  <option *ngFor="let c of allConsultants" value="{{ c.id }}">
                    {{ c.nom }} {{ c.prenom }}
                  </option>
                </select>
                <br />
                <div class="d-flex align-items-center">
                  <div class="ps-3">
                    <h6 *ngIf="countPlanByConsultant != null">
                      {{ countPlanByConsultant.count }}
                    </h6>
                    <h6 *ngIf="countPlanByConsultant == null">0</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->
          <!--domaine categorie consultant-->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">
                  <strong
                    >Nombre de Catégories et Consultants par Domaine</strong
                  >
                </h5>
                <app-bar-chart></app-bar-chart>
              </div>
            </div>
          </div>
          <!--end-->
          <!--domaine consultation plan-->
          <div class="col-xxl-4 col-xl-12">
            <div
              class="card info-card customers-card"
              style="border-bottom: 5px solid rgba(124, 32, 210, 0.47)"
            >
              <div class="card-body">
                <h5 class="card-title">
                  <strong>Nombre de Consultation et Plan par Domaine</strong>
                </h5>
                <app-bar-horizontal-chart> </app-bar-horizontal-chart>
              </div>
            </div>
          </div>
          <!--end-->
        </div>
      </div>
      <!-- End Left side columns -->
      <div class="col-lg-5">
        <!-- Recent Activity -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <strong
                ><i class="fa-solid fa-barcode"></i> Dérnières Activités</strong
              >
            </h5>

            <div class="activity">
              <div
                *ngFor="let activity of listActivity"
                class="activity-item d-flex"
              >
                <div class="activite-label">
                  {{ formatDate(activity.date) }}
                </div>
                <i
                  class="bi bi-circle-fill activity-badge align-self-start"
                  [ngClass]="{
                    'text-success': activity.action === 'ajouter',
                    'text-danger': activity.action === 'supprimer',
                    'text-warning': activity.action === 'consulter',
                    'text-primary': activity.action === 'modifier',
                    'text-muted': activity.action === 'rembourser'
                  }"
                ></i>
                <div class="activity-content">
                  {{ activity.description }}
                </div>
              </div>
              <!-- End activity item-->
            </div>
          </div>
        </div>
        <!-- End Recent Activity -->

        <!-- Budget Report -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">
              <strong
                ><i class="fa-solid fa-calendar-check"></i> Rendez-vous par
                Domaine</strong
              >
            </h5>
            <app-pie-chart></app-pie-chart>
            <br />
          </div>
        </div>
        <!-- End Budget Report -->

        <!-- Website Traffic -->
        <div
          class="card"
          style="border-bottom: 5px solid rgba(255, 119, 0, 0.338)"
        >
          <div class="card-body pb-0">
            <h5 class="card-title">
              <strong
                ><i class="fa-solid fa-calendar-check"></i> Rendez-vous par
                Consultant</strong
              >
            </h5>

            <app-doughnut-chart></app-doughnut-chart>
            <br />
          </div>
        </div>

        <!-- End Website Traffic -->
        <!-- Website Traffic -->
        <div
          class="card"
          style="border-bottom: 5px solid rgba(194, 131, 224, 0.473)"
        >
          <div class="card-body pb-0">
            <h5 class="card-title">
              <strong
                ><i class="fa-regular fa-face-smile"></i> Avis par
                Consultant</strong
              >
            </h5>
            <app-pie-avis-chart></app-pie-avis-chart>
            <br />
          </div>
        </div>

        <!-- End Website Traffic -->
      </div>
      <!-- End Right side columns -->
    </div>
  </section>
</main>
