<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<body>
  <header
    class="section-header"
    style="display: flex; align-items: center; justify-content: center"
  >
    <img
      src="../../../assets/images/image-icon-condition-user.jpg"
      style="width: 300px"
      alt=""
    />
    <p style="margin-top:10px; ">Termes et Conditions Générales</p>
  </header>
  <div class="card col-12" style="margin-top: -4.9%">
    <div class="card-body">
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Introduction : </strong>Bienvenue sur ISTICHARA, la plateforme
        dédiée à la gestion des consultations en ligne dans un domaine
        spécifique. En utilisant notre site, vous acceptez les conditions
        énoncées ci-dessous. Veuillez les lire attentivement.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Utilisation du Site : </strong> En accédant à ISTICHARA, vous
        confirmez que vous êtes majeur et avez le droit légal d'utiliser nos
        services. Vous vous engagez à respecter toutes les lois et règlements
        applicables lors de l'utilisation de la plateforme.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Comptes Utilisateurs : </strong> Les utilisateurs sont
        responsables de la confidentialité de leurs informations de compte. Les
        comptes doivent être utilisés individuellement, et toute activité
        suspecte doit être signalée à notre support client.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Consultations en Ligne : </strong> Les consultations en ligne
        sont réservées aux personnes majeures et aux entreprises légalement
        capables. ISTICHARA n'est pas responsable du contenu des consultations,
        mais nous nous engageons à maintenir des normes élevées de qualité et
        d'éthique.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Paiements et Transactions : </strong> Les transactions
        financières sur ISTICHARA sont sécurisées. Les paiements sont bloqués
        dans la plateforme jusqu'à la fin de la consultation. Le client a le
        pouvoir de valider le paiement après la consultation. En cas d'avis
        défavorable du client, un remboursement peut être initié.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Avis et Retours : </strong> Les clients peuvent donner leur
        avis après chaque consultation. Les avis favorables valident
        automatiquement les paiements. En cas d'avis défavorable, le client doit
        expliquer son opinion. L'administrateur vérifiera la consultation
        enregistrée.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Propriété Intellectuelle : </strong> Tout le contenu de la
        plateforme, y compris les textes, images, logos, etc., est la propriété
        intellectuelle d' ISTICHARA. Aucune utilisation non autorisée n'est
        permise.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Confidentialité : </strong> ISTICHARA s'engage à protéger la
        confidentialité des informations utilisateur conformément à sa politique
        de confidentialité. Les consultations peuvent être enregistrées à des
        fins de vérification avec le consentement des participants.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Modifications des Conditions Générales : </strong> ISTICHARA se
        réserve le droit de modifier ces conditions à tout moment. Les
        utilisateurs seront informés de ces modifications.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Résiliation de Compte : </strong> ISTICHARA peut résilier les
        comptes d'utilisateurs en cas de non-respect des conditions générales.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Responsabilités : </strong> ISTICHARA n'est pas responsable du
        comportement des consultants ou des clients. Nous ne garantissons pas la
        disponibilité continue du site.
      </h6>
      <hr
        style="
          color: rgba(255, 111, 0, 0.799);
          height: 10px;
          border-radius: 50px;
          background-color: rgba(255, 111, 0, 0.799);
        "
      />
      <h6 class="card-title">
        <i class="fa fa-circle-check" style="color: rgb(255, 149, 63)"></i>
        <strong> Contact : </strong>Pour toute question ou préoccupation,
        veuillez contacter notre support client via le formulaire en ligne.
      </h6>
      <h6 class="card-title">
        En utilisant ISTICHARA, vous acceptez ces conditions générales. Merci de
        faire partie de notre communauté.
      </h6>
    </div>
  </div>
</body>
