<app-menu-consultant-dashboard></app-menu-consultant-dashboard>


    <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body class="animated-bg">
        <div>
            <img src="../../assets/images/support.jpg"  style="margin-top: 0.5%"  class="centered-image">
          </div>
        <div class="container" id="con">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline5">
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year " >✔️</span></div>
                            <div class="timeline-content">
                                <h3 class="title"> Bienvenue dans le Dashboard Consultant de ISTICHARA. <hr>
                                    Suivez ces étapes pour créer et gérer vos consultations de manière optimale   </h3>


                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">1</span></div>
                            <div class="timeline-content">
                                <h3 class="title"><b> Créer une Consultation</b></h3>
                                <hr>
                                <p class="description">
                                    Cliquez sur "Nouvelle Consultation" pour définir les
                                    détails de votre offre. Choisissez votre disponibilité via le calendrier
                                    intégré. Ajoutez une description claire de vos services. </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2</span></div>
                            <div class="timeline-content">
                                <h3 class="title"><b>Gérer vos Rendez-vous </b></h3>
                                <hr>
                                <p class="description">
                                    Accédez à la section "Rendez-vous" pour voir vos consultations
                                    planifiées. Confirmez, modifiez ou annulez les rendez-vous en fonction de
                                    votre disponibilité </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">3</span></div>
                            <div class="timeline-content">
                                <h3 class="title"><b>Gestion de Profil </b></h3>
                                <hr>
                                <p class="description">
                                    Éditez votre profil en cliquant
                                    sur "Profil" pour mettre à jour vos informations. Ajoutez des détails
                                    pertinents, des certifications, et une biographie pour attirer les clients.                               </p>
                            </div>
                        </div>
                        <div class="timeline">
                          <div class="timeline-icon"><span class="year">4</span></div>
                          <div class="timeline-content">
                              <h3 class="title"><b>Aide et Support</b></h3>
                              <hr>
                              <p class="description">
                                Consultez notre section d'aide pour des guides détaillés sur
                                l'utilisation du Dashboard Consultant. Contactez notre équipe de support via
                                la section "Nous Contacter"  </p>
                          </div>
                      </div>

                      <div class="timeline">
                        <div class="timeline-icon"><span class="year">🎯</span></div>
                        <div class="timeline-content">
                          <hr>
                            <h3 class="title"> pour toute question ou assistance. Notre Dashboard
                                Consultant est conçu pour simplifier la gestion de vos consultations et
                                optimiser votre expérience sur ISTICHARA.  </h3>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
    </body>
