<app-menu-consultant-dashboard></app-menu-consultant-dashboard>



<body>
    <header class="uui-section_blogpost01">

<br>
<br><br>


            <div class="uui-max-width-large-2 align-center">
              <div class="uui-blogpost01_content">
                <div class="uui-text-rich-text-2 w-richtext">
                 <p>
  Bienvenue dans le Dashboard Consultant de ISTICHARA.
  <p>Suivez ces
  étapes pour créer et gérer vos consultations de manière optimale :</p>
  <p>1. Créer une Consultation : Cliquez sur "Nouvelle Consultation" pour définir les
  détails de votre offre. Choisissez votre disponibilité via le calendrier
  intégré. Ajoutez une description claire de vos services. </p>
  <p>2. Gérer vos Rendez-vous : Accédez à la section "Rendez-vous" pour voir vos consultations
  planifiées. Confirmez, modifiez ou annulez les rendez-vous en fonction de
  votre disponibilité.</p>
  <p> 3. Gestion de Profil : Éditez votre profil en cliquant
  sur "Profil" pour mettre à jour vos informations. Ajoutez des détails
  pertinents, des certifications, et une biographie pour attirer les clients.</p>
  <p> 4. Aide et Support: Consultez notre section d'aide pour des guides détaillés sur
  l'utilisation du Dashboard Consultant. Contactez notre équipe de support via
  la section "Nous Contacter" </p>
  <p>pour toute question ou assistance. Notre Dashboard
  Consultant est conçu pour simplifier la gestion de vos consultations et
  optimiser votre expérience sur ISTICHARA. </p>
  <p>Pour toute assistance supplémentaire, n'hésitez pas à nous contacter. Nous sommes là pour vous aider
  à réussir dans votre rôle de consultant.
</p>
                  <p>En utilisant ISTICHARA, vous acceptez ces conditions générales. Merci de faire partie de notre communauté.</p>
                <br>
<br>
                </div>
              </div>
            </div>

    </header>
</body>

