<!-- <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out" data-easing2="ease-out" role="banner" class="navigation w-nav">
  <div class="navigation-container">
    <a routerLink="/" routerLinkActive="w--current" class="link-3" [routerLinkActiveOptions]="{ exact: true }">I<span class="text-span-3">S</span>TICHARA</a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a routerLink="/utilisateur/domaine-utilisateur" class="nav-link w-nav-link">Domaines</a>
      <a routerLink="/utilisateur/recherche-utilisateur" class="nav-link w-nav-link">Recherche</a>
      <a routerLink="/utilisateur/apropos-utilisateur" class="nav-link w-nav-link">A propos</a>
      <a routerLink="/utilisateur/contact-utilisateur" class="navigation-button w-button">Contactez Nous !</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="icon-2 w-icon-nav-menu"></div>
    </div>
  </div>
</div> -->
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<nav class="navbar navbar-expand-lg bg-transparent">
  <!--fixed-top-->
  <div class="container">
    <a routerLink="/" class="navbar-brand fs-4 logo purple"
      >I<span class="istichara">S</span>TICHARA</a
    >
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-theme="white"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--sidebar-->

    <div
      class="sidebar offcanvas offcanvas-start text-white"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <!--Header-->

      <div class="offcanvas-header text-dark">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close btn-close-white shadow-none"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <!--body -->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/utilisateur/apropos-utilisateur"
              >Apropos</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Actualités</a>
          </li>
          <li class="nav-item mx-2">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/utilisateur/recherche-utilisateur"
              >Recherche</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/utilisateur/domaine-utilisateur"
              >Domaine</a
            >
          </li>
        </ul>
        <!-- contacter nous et User Icon button -->
        <div>
          <button
            type="button"
            class="btn rounded-5 btncontacternous"
            routerLink="/utilisateur/contact-utilisateur"
          >
            Contacter nous !
          </button>
          <button
            type="button"
            class="btn rounded-5 btnuser"
            routerLink="/consultant/sidentifier-consultant"
          >
            <i class="fa fa-user white-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
