<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out" data-easing2="ease-out" role="banner" class="navigation w-nav">
      <div class="navigation-container">
        <a href="index.html" aria-current="page" class="link-3 w--current">I<span class="text-span-3">S</span>TICHARA</a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="domaines.html" class="nav-link w-nav-link">Domaines</a>
          <a href="recherche.html" class="nav-link w-nav-link">Recherche</a>
          <a href="apropos.html" class="nav-link w-nav-link">A propos</a>
          <a href="contact.html" class="navigation-button w-button">Contactez Nous !</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="icon-2 w-icon-nav-menu"></div>
        </div>
      </div>
    </div>