  .container{
  background-color: rgba(53, 189, 199, 0.269);
  border-radius: 20px;
  padding: 10px;

}


.active a {
  color: rgba(0, 17, 255, 0.53);
  /* Couleur de fond pour l'élément actif */
}

/* Base style for nav-link */
.nav-link {
  color: black;
  position: relative;
}

/* Hover effect for nav-link */
.nav-link:hover {
  color: rgb(13, 41, 255);
  opacity: 0.5;
}

/* Before pseudo-element for nav-link */
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(252, 183, 36);
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}

/* Hover effect for before pseudo-element */
.nav-link:hover::before {
  transform: scaleX(1);
}

/* Active state styling for nav-link */
.nav-item.active .nav-link {
  color: rgb(13, 41, 255);
  /* Change to the active color */
  opacity: 0.5;
  /* Apply the hover effect opacity */
}

.nav-item.active .nav-link::before {
  transform: scaleX(1);
  /* Make the before pseudo-element visible */
}

@media(max-width:991px)  {
  .sidebar{
    background-color: rgba(140, 152, 124, 0.13);
    backdrop-filter: blur(20px);

  }
}

.offcanvas-header{
  border-bottom: 1px solid rgb(125, 255, 240);
}


.istichara{
  color: #faa61f;
}
.logo{
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-left: 15px;
}
.logo{
  transition: 0.35s ease;
}
.logo:hover{
    transform: scaleX(1);

}

.btncontacternous{
       font-weight: bold;
       margin-right: 10px;
       border: 3px solid #ffb535b0;
       background-color: rgba(254, 254, 254, 0.744);

      }
      
.btncontacternous:hover{
  background-color: rgba(240, 248, 255);
  color:black ;
  border: 3px solid #037481b0;

}

.btnuser{
  background-color: #ffb535;
  border: 2px solid rgba(255, 255, 255, 0.591);

}
.btnuser:hover{
  background-color: #ffa200;
}
.white-icon {
  color: white;
}
.purple{
color: rgb(19, 19, 19);
}

a{
  cursor: pointer;
}