<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  <!-- About Section - Home Page -->
  <section
    id="about"
    class="about"
    style="margin-top: -7%; background-color: aliceblue"
  >
    <div class="container" style="margin-top: 7%">
      <div class="row align-items-xl-center gy-5">
        <div class="col-xl-5 content">
          <h3 style="color: rgb(1, 137, 171)">Notre Mission</h3>
          <h2>Faciliter l'Accès à des Conseils d'Experts en Ligne</h2>
          <p>
            Découvrez une nouvelle façon de trouver des conseils d'experts de
            qualité, où que vous soyez au Maroc. Notre plateforme
            révolutionnaire vous connecte instantanément avec une équipe
            diversifiée de consultants de premier plan, prêts à répondre à vos
            questions et à vous guider dans vos projets, 24 heures sur 24, 7
            jours sur 7. Naviguez à travers notre interface conviviale pour
            trouver le consultant parfaitement adapté à vos besoins spécifiques.
            Que vous recherchiez des conseils juridiques, financiers, médicaux,
            en entrepreneuriat ou dans tout autre domaine, notre réseau de
            professionnels qualifiés est là pour vous aider à prendre des
            décisions éclairées.
          </p>
        </div>

        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">
            <div class="col-md-6">
              <div
                class="icon-box"
                style="background-color: rgba(53, 189, 199, 0.345)"
              >
                <img
                  src="../../../assets/images/image-apropos-section1-card1.jpg"
                  alt=""
                  width="100%"
                  style="border-radius: 150px"
                />
                <h2 style="font-weight: bold">Acessibilité Universelle</h2>
                <p>
                  Rendre les conseils d'experts en ligne accessibles à tous, en
                  facilitant la connexion avec des consultants qualifiés, quel
                  que soit le domaine d'expertise .
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
            <div class="col-md-6">
              <div
                class="icon-box"
                style="background-color: rgba(255, 166, 0, 0.45)"
              >
                <img
                  src="../../../assets/images/image-apropos-section1-card2.jpg"
                  alt=""
                  width="100%"
                  style="border-radius: 150px"
                />
                <h6 style="font-weight: bold; font-size: large">
                  Expérience Personnalisée de Qualité
                </h6>
                <p>
                  Offrir des consultations en ligne exceptionnelles,
                  personnalisées et de qualité avec des professionnels
                  chevronnés. Notre objectif : fournir des conseils sur mesure
                  répondant précisément à vos besoins.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- A propos -->
  <section id="features" class="features">
    <div class="container">
      <div class="row gy-4 align-items-center features-item">
        <div
          class="col-lg-5 order-2 order-lg-1"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <h3>
            <img
              src="../../../assets/images/image-apropos-icon-maison.jpg"
              style="width: 10%"
              alt=""
            />
            Confort et Adaptabilité
          </h3>
          <p>
            Profitez d'une expérience de consultation en ligne sans tracas, où
            le confort de votre propre espace est préservé. Avec une interface
            conviviale et des consultations adaptées à votre emploi du temps,
            nous mettons le confort entre vos mains.
          </p>
          <hr
            style="width: 30%; margin-left: 130px; color: rgb(216, 191, 48)"
          />
          <h3>
            <img
              src="../../../assets/images/image-apropos-icon-security.jpg"
              style="width: 13%"
              alt=""
            />
            Confidentialité et Sécurité
          </h3>
          <p>
            Votre vie privée est notre priorité. Bénéficiez de consultations
            confidentielles, où chaque interaction est sécurisée et protégée.
            Notre engagement envers la confidentialité garantit que vos échanges
            restent privés et sécurisés.
          </p>
          <hr
            style="width: 30%; margin-left: 130px; color: rgb(216, 191, 48)"
          />
          <h3>
            <img
              src="../../../assets/images/image-apropos-icon-pc.jpg"
              style="width: 15%"
              alt=""
            />
            Consultation à Portée de Main
          </h3>
          <p>
            Découvrez la commodité d'avoir des conseils experts à portée de
            main. Que vous soyez chez vous, au bureau, ou en déplacement, nos
            consultations en ligne vous offrent une accessibilité maximale pour
            répondre à vos besoins, quand vous en avez besoin.
          </p>
        </div>
        <div
          class="col-lg-7 order-1 order-lg-2 d-flex align-items-center"
          data-aos="zoom-out"
          data-aos-delay="100"
        >
          <div class="image-stack">
            <img
              src="../../../assets/images/image-orange.png"
              alt=""
              class="stack-front"
              style="border-radius: 30px"
            />
            <img
              src="../../../assets/images/image-orange.png"
              alt=""
              style="border-radius: 30px"
              class="stack-back"
            />
          </div>
        </div>
      </div>
      <!-- Features Item -->
    </div>
  </section>
  <!-- End Features Section -->
</body>
