body{
    background-color: #effdfd8e;
}
.valider:hover{
       background-color: #e98000fc;
       color: white;
}
.valider{
        background-color: #fff0e960;
        border: 2px solid #e98000f1;
        color: #e98000f1;
        margin-right: 34%;
        margin-top: -2%;
        width: 30%;
        margin-bottom: 1%;
}
.success{
        background-color: #aff6d94b;
        border: 2px solid #21682ce2;
        color: #21682ce2;
       
}
.success:hover{
    
    background-color: #21682ce2;
        border: 2px solid #21682ce2;
        color: white;
}

.th{

    text-align: center;
    background-color: #007078b8;
    color: white;

}