 <body>
    <div id="main" class="container">


      <div class="row" id="real-estates-detail">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <header class="panel-title">
                <div class="text-center">
                  <strong>DOMAINE</strong>
                </div>
              </header>
            </div>
            <div class="panel-body">
              <div class="text-center" id="author">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                <h3>NOM et Prénom</h3>
                <small class="label label-warning">From VILLE</small>
                <p>
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil
                  Dscritption du profil

                </p>
               <div class="langues">
                <h4>langues</h4>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
          <div class="panel">
            <div class="panel-body">
              <ul id="myTab" class="nav nav-pills">
                <li class="active">
                  <a href="#Spécialisations" data-toggle="tab">Spécialisations</a>
                </li>
                <li ><a href="#Experience" data-toggle="tab">Experience</a></li>
                <li ><a href="#Formations" data-toggle="tab">Formations</a></li>
                                <li><a href="#Educations" data-toggle="tab">Educations</a></li>

              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="Spécialisations">
                  <br />
                  <div class="flexslider">
                    <p>Spécialisations works!</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="Experience">
                  <p></p>
                  <p>Experience works here.</p>
                </div>
                <div class="tab-pane fade" id="Formations">
                  <p></p>
                  <p> Formation Content Here</p>

                </div>
                <div class="tab-pane fade" id="Educations">
                  <p></p>
                  <p> Educations works here! </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
  </body>
