<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<body>
  

<section>
  
  <div class="container">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div
            class="card"
            style="
              border-radius: 20px;
              border-top: 10px solid rgb(0, 108, 148);
              border-bottom: 2px solid rgb(0, 108, 148);
            "
          >
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img
                  [src]="
                    '../../../assets/images-consultants/' +
                    consultantProfil.photoProfile
                  "
                  style="width: 280px; height: 300px;border-radius: 200px;"
                  alt="..."
                />
                <div class="mt-3">
                  <h2 class="text-uppercase bold">
                    {{ consultantProfil.nom }} {{ consultantProfil.prenom }}
                  </h2>
                  <span class="text-primary" *ngFor="let l of langues">
                    <span class="mr-1" *ngIf="l == 'Arabe'"
                      ><img
                        src="../../../assets/images/arabe.png"
                        style="width: 11%"
                        alt=""
                      />
                    </span>
                    <span class="mr-1" *ngIf="l == 'Francais'"
                      ><img
                        src="../../../assets/images/francais.png"
                        style="width: 11%"
                        alt=""
                      />
                    </span>
                    <span class="mr-1" *ngIf="l == 'Espagnol'"
                      ><img
                        src="../../../assets/images/espagnol.png"
                        style="width: 11%"
                        alt=""
                      />
                    </span>
                    <span class="mr-1" *ngIf="l == 'Anglais'"
                      ><img
                        src="../../../assets/images/anglais.png"
                        style="width: 11%"
                        alt=""
                      />
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div
                  class="card-body rounded text-white"
                  style="background-color: rgb(1, 128, 139)"
                >
                  <h4 class="d-flex align-items-center mb-3">
                    <i class="material-icons text-info mr-2">assignment</i
                    ><b>INFORMATIONS</b>
                  </h4>

                  <h4 class="mb-3">
                    <i class="far fa-envelope display-25 me-3 text-warning"></i
                    >{{ consultantProfil.email }}
                  </h4>
                  <h4 class="mb-3">
                    <i
                      class="fas fa-mobile-alt display-25 me-3 text-warning"
                    ></i
                    >+212 {{ consultantProfil.numeroTelephone }}
                  </h4>
                  <h4 class="text-uppercase">
                    <i class="fa fa-globe display-25 me-3 text-warning"></i
                    >{{ consultantProfil.pays }}
                  </h4>
                  <h4 class="text-uppercase">
                    <i class="fa fa-city display-25 me-3 text-warning"></i
                    >{{ consultantProfil.ville }}
                  </h4>

                  <h4>
                    <i
                      class="fas fa-map-marker-alt display-25 me-3 text-warning"
                    ></i
                    >{{ consultantProfil.adresse }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card shadow h-100">
                <div
                  class="card-body rounded"
                  style="background-color: rgb(1, 128, 139)"
                >
                  <h6 class="d-flex align-items-center mb-3">
                    <i class="material-icons text-warning mr-2">more</i>
                  </h6>
                  <div style="margin-left: -2%; color: white">
                    <p *ngFor="let m of morceauxDescription">{{ m }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="card mb-3"
            style="
              border-radius: 20px;
              border-top: 10px solid rgb(0, 108, 148);
              border-bottom: 2px solid rgb(0, 108, 148);
            "
          >
            <div class="card-body">
              <mat-tab-group style="margin-right: 3%">
                <mat-tab label="Specialisations">
                  <br />
                  <p
                    class="py-2"
                    *ngFor="
                      let specialization of consultantProfil.specialisation
                    "
                  >
                    <i class="fa fa-check text-success"></i>
                    {{ specialization }}
                  </p>
                </mat-tab>
                <mat-tab label="Formations">
                  <br />

                  <p
                    class="py-2"
                    *ngFor="let formation of consultantProfil.formations"
                  >
                  <i class="fa fa-check text-success"></i>
                    {{ formation }}
                  </p></mat-tab
                >
                <mat-tab label="Educations">
                  <br />

                  <p
                    class="py-2"
                    *ngFor="let education of consultantProfil.educations"
                  >
                  <i class="fa fa-check text-success"></i>
                    {{ education }}
                  </p></mat-tab
                >
                <mat-tab label="Experiences">
                  <br />

                  <p
                    class="py-2"
                    *ngFor="let experience of consultantProfil.experiencesPro"
                  >
                  <i class="fa fa-check text-success"></i>
                    {{ experience }}
                  </p>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>