<!--  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">



</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
 -->
<!-- <body>

  <div class="container" id="body">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
        <div class="card border-0 shadow">
          <img [src]="'../../../assets/images-consultants/'+consultantProfil.photoProfile" alt="...">
          <div class="card-body p-1-9 p-xl-5">
            <div class="mb-4">
              <h3 class="h4 mb-0">{{consultantProfil.nom}} {{consultantProfil.prenom}}</h3>
              <span class="text-primary">{{consultantProfil.pays}} &amp; {{consultantProfil.ville}}</span>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-3"><a href="#!"><i
                    class="far fa-envelope display-25 me-3 text-secondary"></i>{{consultantProfil.email}}</a></li>
              <li class="mb-3"><a href="#!"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>+212 {{consultantProfil.numeroTelephone}}</a></li>
              <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>{{consultantProfil.adresse}}</a></li>
            </ul>


            <p>Langue: <span class="text-primary" *ngFor="let l of langues">{{l}} , </span></p>


          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="ps-lg-1-6 ps-xl-5">
          <div class="mb-5 wow fadeIn">
            <div class="text-start mb-1-6 wow fadeIn">
              <h2 class="h1 mb-0 text-primary">#About Me</h2>
            </div>

            <p *ngFor="let m of morceauxDescription">{{m}}</p>

        </div>
          <div class="mb-5 wow fadeIn">
            <div class="panel">
              <div class="panel-body" id="display" >
                <ul id="myTab" class="nav nav-pills">
                  <li [class.active]="selectedTab === 'specialisation'">
                    <a data-toggle="tab" (click)="navigateProfil('specialisation')" >Spécialisations</a>
                  </li>
                  <li [class.active]="selectedTab === 'experience'">
                    <a data-toggle="tab" (click)="navigateProfil('experience')">Experience</a>
                  </li>
                  <li [class.active]="selectedTab === 'formations'">
                    <a data-toggle="tab" (click)="navigateProfil('formations')">Formations</a>
                  </li>
                  <li [class.active]="selectedTab === 'educations'">
                    <a data-toggle="tab" (click)="navigateProfil('educations')">Educations</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane fade" [class.in]="selectedTab === 'specialisation'"
                    [class.active]="selectedTab === 'specialisation'" id="Specialisations">
                    <br />
                    <div class="flexslider" *ngIf="selectedTab === 'specialisation'">
                      <p *ngFor="let specialization of consultantProfil.specialisation">{{ specialization }}</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" [class.in]="selectedTab === 'experience'"
                    [class.active]="selectedTab === 'experience'" id="Experience">
                    <p *ngFor="let experience of consultantProfil.experiencesPro">{{ experience }}</p>
                  </div>
                  <div class="tab-pane fade" [class.in]="selectedTab === 'formations'"
                    [class.active]="selectedTab === 'formations'" id="Formations">
                    <p *ngFor="let formation of consultantProfil.formations">{{ formation }}</p>
                  </div>
                  <div class="tab-pane fade" [class.in]="selectedTab === 'educations'"
                    [class.active]="selectedTab === 'educations'" id="Educations">
                    <p *ngFor="let education of consultantProfil.educations">{{ education }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-tab-group>
  <mat-tab label="Specialisations">
    <p *ngFor="let specialization of consultantProfil.specialisation">{{specialization}}</p>
  </mat-tab>
  <mat-tab label="Formations">   <p *ngFor="let formation of consultantProfil.formations">{{ formation }}</p></mat-tab>
  <mat-tab label="Educations"> <p *ngFor="let education of consultantProfil.educations">{{ education }}</p></mat-tab>
    <mat-tab label="Experiences">                     <p *ngFor="let experience of consultantProfil.experiencesPro">{{ experience }}</p>
</mat-tab>

</mat-tab-group>


        </div>
      </div>
    </div>
  </div>
</body> -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<!-- <body>
<div class="bg-white">

<div class="container" id="infos">
<div class="text-center py-5">
<img [src]="'../../../assets/images-consultants/'+consultantProfil.photoProfile" alt="..."  id="photoprofil">
<div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
<h2 class="font-weight-bold my-4">{{consultantProfil.nom}} {{consultantProfil.prenom}}</h2>
<h4><i class="fa fa-globe display-25 me-3 text-secondary"></i>{{consultantProfil.pays}}</h4>
<h4><i class="fa fa-city display-25 me-3 text-secondary"></i>{{consultantProfil.ville}}</h4>
              <h4 class="mb-3"><i
                    class="far fa-envelope display-25 me-3 text-secondary"></i>{{consultantProfil.email}}</h4>
              <h4 class="mb-3"><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>+212 {{consultantProfil.numeroTelephone}}</h4>
              <h4><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i>{{consultantProfil.adresse}}</h4>
                          <p>Langue: <span class="text-primary" *ngFor="let l of langues">{{l}} , </span></p>

<div class="text-muted mb-4">
            <p *ngFor="let m of morceauxDescription">{{m}}</p>
</div>
</div>
<div class="text-center">
<a href="#" class="btn icon-btn borderless btn-outline-twitter btn-lg btn-round">
<span class="ion ion-logo-twitter"></span>
</a>
<a href="#" class="btn icon-btn borderless btn-outline-facebook btn-lg btn-round">
<span class="ion ion-logo-facebook"></span>
</a>
<a href="#" class="btn icon-btn borderless btn-outline-instagram btn-lg btn-round">
<span class="ion ion-logo-instagram"></span>
</a>
</div>
</div>
</div>
<hr class="m-0">
 <mat-tab-group>
  <mat-tab label="Specialisations">
    <p *ngFor="let specialization of consultantProfil.specialisation"><i class="fa fa-check"></i>{{specialization}}</p>
  </mat-tab>
  <mat-tab label="Formations">   <p *ngFor="let formation of consultantProfil.formations">{{ formation }}</p></mat-tab>
  <mat-tab label="Educations"> <p *ngFor="let education of consultantProfil.educations">{{ education }}</p></mat-tab>
    <mat-tab label="Experiences">                     <p *ngFor="let experience of consultantProfil.experiencesPro">{{ experience }}</p>
</mat-tab>

</mat-tab-group>
</div>



</body> -->
<div class="container-fluid overcover">
  <div class="container profile-box">
    <div class="top-cover">
      <div class="covwe-inn">
        <div class="row no-margin">
          <div class="col-md-3 img-c">
            <img
              [src]="
                '../../../assets/images-consultants/' +
                consultantProfil.photoProfile
              "
              alt="..."
            />
          </div>
          <div class="col-md-9 tit-det">
            <h2>{{ consultantProfil.nom }} {{ consultantProfil.prenom }}</h2>
            <br>
            <div id="grid2">
            <div id="grid">
              <h4 class="mb-3">
                <i class="far fa-envelope display-25 me-3 text-white"></i
                >{{ consultantProfil.email }}
              </h4>
              <h4 class="mb-3">
                <i class="fas fa-mobile-alt display-25 me-3 text-white"></i
                >+212 {{ consultantProfil.numeroTelephone }}
              </h4>
              <h4>
                <i class="fa fa-globe display-25 me-3 text-white"></i
                >{{ consultantProfil.pays }}
              </h4>
              <h4>
                <i class="fa fa-city display-25 me-3 text-white"></i
                >{{ consultantProfil.ville }}
              </h4>

              <h4>
                <i
                  class="fas fa-map-marker-alt display-25 me-3 text-white "
                ></i
                >{{ consultantProfil.adresse }}
              </h4>

              <p id="lg"> <i
                  class="fa fa-language me-3 text-white  "
                ></i
                >
                <span class="text-primary" *ngFor="let l of langues">
                  <span class="mr-3" *ngIf="l == 'Arabe'"
                    ><img
                      src="../../../assets/images/arabe.png"
                      style="width: 7%; margin-left: 1%;"
                      alt=""
                    />
                  </span>
                  <span class="mr-3" *ngIf="l == 'Francais'"
                    ><img
                      src="../../../assets/images/francais.png"
                      style="width: 7% ;margin-left: 1%"
                      alt=""
                    />
                  </span>
                  <span class="mr-3" *ngIf="l == 'Espagnol'"
                    ><img
                      src="../../../assets/images/espagnol.png"
                      style="width: 7%; margin-left: 1%;"
                      alt=""
                    />
                  </span>
                  <span class="mr-3" *ngIf="l == 'Anglais'"
                    ><img
                      src="../../../assets/images/anglais.png"
                      style="width: 7%; margin-left: 1%;"
                      alt=""
                    />
                  </span>
                </span>
              </p>
            </div>
            <p class="ms-5"*ngFor="let m of morceauxDescription">{{ m }}</p>
          </div>
        </div>
        </div>
      </div>
    </div>

    <hr class="m-0" />
    <mat-tab-group>
      <mat-tab label="Specialisations">
        <br>
        <p  class="py-2 " *ngFor="let specialization of consultantProfil.specialisation">
          <i class="fa fa-check text-success"></i>{{ specialization }}
        </p>
      </mat-tab>
      <mat-tab label="Formations">
                <br>

        <p  class="py-2 " *ngFor="let formation of consultantProfil.formations">
          {{ formation }}
        </p></mat-tab
      >
      <mat-tab label="Educations">
                <br>

        <p  class="py-2 " *ngFor="let education of consultantProfil.educations">
          {{ education }}
        </p></mat-tab
      >
      <mat-tab label="Experiences">
                <br>

        <p  class="py-2 " *ngFor="let experience of consultantProfil.experiencesPro">
          {{ experience }}
        </p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
