.mat-stepper-horizontal {
  margin-top: 8px;
  margin-left: 10%;
  margin-right: 7%;
}

.mat-mdc-form-field {
  margin-top: 16px;
  margin-left: 1%;
  width: 48%;
}

mat-card {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
  margin-bottom: 2%;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

#langue {
  font-weight: bold;
  margin-left: 1%;
}

.inp {
  width: 92%;
}

.btnSuivant{
   background-color: aliceblue;
   border: 1px solid rgba(0, 126, 118, 0.326);
   color:rgb(0, 173, 161); ;
}

body {
  background-image: url('../../../assets/images/image-sinscrire.png');
  background-color: rgba(235, 251, 253, 0.185);
  background-size: cover;
  padding-bottom: 5%;
  margin-bottom: -3.8%;
}

mat-card {
  /* background-image: url("../../../assets/images/login-new-bootstrap.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
  border-radius: 20px;
  border: 6px solid rgba(255, 157, 0, 0.247);
  
}
.a {
    text-decoration: none;
    color: rgb(7, 88, 138);
    cursor: pointer;
}
mat-stepper{
/*   background-color: rgba(207, 193, 255, 0.836);
 */
}
