/* #bg
{

 background-image: url('../../../assets/images/image-contact-consultant.jpg');
 margin-bottom: -30px;
    margin-top: -10%;
background-size: cover;
}

form {
  float: right;
  max-width: 100px;
  margin-right: 10%;
  margin-top: 3%;
  min-width: 30rem;
}

svg {
}
form {


  .title {
    font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 2.9rem;
    margin-left: 15%;
  }

  .form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    font-size: 1.2rem;


    &.thick {
      height: 5rem;
      padding: .2rem 2.5rem;
      width: 120%;

    }

    &:focus {
      background-color: #f2f6f8;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    }
  }

  .message .form-control {
    padding: 2rem 2rem;
    width: 120%;
  }

  ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #838788;


  }

  input,
  textarea {
    font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 2rem;
padding-top: 2%;
padding-bottom: 2%;
  }
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  height: 4rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
  outline: none;
  margin-left: 20%;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
  outline: none;
}

#all {
  margin-top: 7%;

}



#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}

#star2 {
  animation-delay: 100ms;
}

#star3 {
  animation-delay: 500ms;
}

#star4 {
  animation-delay: 700ms;
}

#star5 {
  animation-delay: 300ms;
}

#star6 {
  animation-delay: 200ms
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
 */

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to left, #5b53ef, #6754a9  , #5bb4e4);
    margin-top: -6%;
    margin-bottom: -3.8%;

}

.first_col {
    background-color: white;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 140px;
    top: 171px;
    border-radius: 50px;
}

.img-fluid {
    border-radius: 400%;

}

.row-last {
    width: 64% ;
    position: relative ;
    left: 390px;
    top: 110px;
    height: 150px;
    padding-bottom: 100px ;
    background: linear-gradient(to left, #cae7f7,#c4c6f7  , #cae7f7);
    border-radius: 20px;
    margin-bottom: 8%;

}

.btn-primary {
    background-color: rgba(64, 26, 176, 0.867) ;
    border: #44419d;
    height: 45px;
    width: 55%;
    border-radius: 10px;
    background-color: #303274;
    margin-left: 23%;

}

.btn-primary:hover {
    background-color: rgba(71, 54, 122, 0.867) ;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 18px;
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {
    .first_col {
       margin: auto;
    }

    .sec_col {
        display: none;
    }

    .row-last {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .first_col {
        position: initial;
        left: 0 !important;
         margin: auto;
    }

    .sec_col {
        display: none;
    }

    .row-last {
        display: none;
    }
}

h4{
   color: #1a0c42;
   font-size: 18px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4:hover{
color: #44419d;

}
.phone{
    margin-top: 8px;
    font-size: 18px;
    color: #140039;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #707070;
    border-radius: 13px;
    transition: all 0.3s ease;
}
.phone:hover {
    background-color: #ffffff;
    color: #4d31b5;

  }
  .fixed-size-area {
    /* Set the width to a fixed value */
    height: 100px; /* Set the height to a fixed value */

}
textarea{
    resize: none;
}
