<head>
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
</head>

<!-- ======= Contact Section ======= -->
<body>
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <header class="section-header">
          <h1 style="color: rgb(255, 155, 32)">Contact</h1>
          <p>Nous Sommes Là Pour Vous!</p>
        </header>
      </div>
      <div class="row">
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="email">
              <i class="fa fa-envelope"></i>
              <h4>Email:</h4>
              <p>istichara70@gmail.com</p>
            </div>
            <div class="phone">
              <i class="fa fa-phone"></i>
              <h4>Telephone:</h4>
              <p>+212 604440220</p>
            </div>
            <img
              src="../../../assets/images/image-contacter-nous.jpg"
              style="width: 100%"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <div method="post" role="form" class="email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nom Complet</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Nom-Complet"
                  [(ngModel)]="Infomessage.nom"
                  (input)="champNomVide = false"
                  name="nom"
                  required
                />
                <div
                  *ngIf="champNomVide"
                  class="text-danger"
                  style="font-size: small"
                >
                  <i class="fa fa-exclamation-circle"></i> Le champ nom est
                  obligatoire.
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="name"> Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="exemple@gmail.com"
                  id="email"
                  [(ngModel)]="Infomessage.email"
                  (input)="champEmailVide = false"
                  (input)="validateEmail()"
                  required
                />
                <div
                  *ngIf="champEmailVide"
                  class="text-danger"
                  style="font-size: small"
                >
                  <i class="fa fa-exclamation-circle"></i> Le champ email est
                  obligatoire.
                </div>
                <div
                  *ngIf="emailInvalid"
                  class="text-danger"
                  style="font-size: small"
                >
                  <i class="fa fa-exclamation-circle"></i> Veuillez saisir un
                  email valide
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Telephone</label>
              <input
                type="number"
                class="form-control"
                placeholder="06XXXXXXXXX"
                id="subject"
                [(ngModel)]="Infomessage.numero"
                (input)="champNumeroVide = false"
                required
              />
              <div
                *ngIf="champNumeroVide"
                class="text-danger"
                style="font-size: small"
              >
                <i class="fa fa-exclamation-circle"></i> Le champ téléphone est
                obligatoire.
              </div>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea
                class="form-control"
                name="message"
                placeholder="Message..."
                rows="10"
                [(ngModel)]="Infomessage.message"
                (input)="champMessageVide = false"
                required
              ></textarea>
              <div
                *ngIf="champMessageVide"
                class="text-danger"
                style="font-size: small"
              >
                <i class="fa fa-exclamation-circle"></i> Le champ Message est
                obligatoire.
              </div>
            </div>
            <div class="text-center">
              <button type="submit" (click)="sendMessage()">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</body>
