
body{
    background-image: linear-gradient(to right, #7d45ffc9, #4690ffc1);
}
.container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 25%;
    width: 50%;
    background-color: #bfb7ff60;
    border: 2px solid #3d07ff;
    color: #3d07ff;
   
}

.btn-primary:hover {
    background-color: #3d07ff;
    color: white;
    
}
.container {
    max-width: 900px;
    margin: 0 auto;
    
    
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
   
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    

}

.table th {
    background-color: #4129f5eb;
    color: #fff;
    
}

.table td {
    vertical-align: middle;
}

.btn-secondary {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #3d07ff;
    color: #3d07ff;
}

.btn-secondary:hover {
background-color: #3d07ff;
color: white;

}
textarea.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
  transition: border-color 0.3s;
}

textarea.form-control:focus {
  outline: none;
  border-color: #007bff;
}